[2021-01-05 11:48] bbrto21 opened #21 "Rotating the window and Positioning the software keyboard"
### Problem
1. When the device is rotated, an animation of rotating the window should occur but it doesn't
2. After the device is rotated, the keyboard should also be positioned correctly but it doesn't.

### As-is
* When the device is rotated, No rotating animation occurs.
* screenshot
![Image Pasted at 2021-1-5 16-30](https://user-images.githubusercontent.com/1579532/103636381-3ac67600-4f8d-11eb

[2021-01-05 11:58] bbrto21 commented on #21
@xiaowei-guan I created an issue about the problem I was discussing with you on the messenger.

[2021-01-06 09:54] bbrto21 commented on #21
Here are TDM logs, In the log below, ```commit``` in TDM occurs only when it is normal. I don't know anything about TDM or TBM, so I'm asking here.

in nomal state
[code]
in frozen state
[code]

[2021-01-07 02:49] xiaowei-guan commented on #21
add Full log:

D/AMD( 2191): amd_login_monitor.c: __foreach_app_counter(252) > app type(webapp), total(1)
I/LAUNCHPAD( 2639): launchpad.c: __dispatch_cmd_update_app_type(2048) > [LAUNCHPAD] type(capp), exists(1)
D/AUL( 2191): aul_sock.c: aul_sock_send_raw_with_fd(501) > fd(18): cmd(16)
D/AMD( 2191): amd_login_monitor.c: __foreach_app_counter(252) > app type(dotnet), total(2)
D/LAUNCHPAD( 2639): la

[2021-01-07 03:15] bbrto21 commented on #21
@xiaowei-guan Does the commit of TDM affect directly to update screen?

[2021-01-07 06:16] bbrto21 commented on #21
Finally, I have made some progress. It can be solved by setting the value for the hint below to 1.
[code]
I haven't found a guide on why to use this, but I was just inspired by reading the code of e-mod-tizen-wm-policy, and I didn't analyze it particularly deeply.

This fixes the problem of screen not updating, but still needs some improvement.
* We need a callback for the end of the rotation anim

[2021-01-08 04:25] bbrto21 commented on #21
I think that it can be solved by setting the available rotations when receiving ECORE_WL2_EVENT_WINDOW_ACTIVATE.

[2021-01-12 01:31] bbrto21 commented on #21
I have to do something other than Flutter-Tizen for a while. If anyone is interested, please take a look

[2021-01-18 23:41] bwikbs opened #26 "Removing unmanaged APIs"
### Problem
Unmanaged APIs should not be used for app store registration.
(This issue is also related to https://github.com/flutter-tizen/flutter-tizen/issues/10.  because wayland related functions are also unmanaged APIs)

**refer to :**
- https://github.com/flutter-tizen/flutter-tizen/issues/21 (https://github.com/bwikbs/engine/issues/1)
- https://developer.samsung.com/galaxy-store/self-check-li

[2021-01-18 23:50] bwikbs commented on #26
AFAIK, Here are some things we can do for this:

1. Use ``EvasGL``
2. Use ``SDL``
3. Use bypass methods like ``dlopen`` (I'm not sure if it fits all cases..but I know of some cases that worked)

[2021-01-19 00:09] bwikbs commented on #26
For the last few days, I have been working on a POC using ``EvasGL``, and I succeeded in partially drawing the following drawing.
![dump_screen (1)](https://user-images.githubusercontent.com/4053790/104972239-7bfe6180-5a34-11eb-86a9-8c376c0901c6.png)
However, the screen update didn't work, and I found out that this is a problem with ``evas_object_image_pixels_get_callback_set`` API.
The action dra

[2021-01-19 00:16] bwikbs commented on #26
I am wondering if the ``dlopen method`` is our right direction for this issue. That's not a nice way, but it seems that we can solve this problem by a reasonable cost.

[2021-01-19 01:26] xuelian-bai commented on #26
First, I think the best way to solve this issue is to filter these APIs for flutter.so, Flutter should use low level APIs instead of wrapped APIs.
Second, dlopen only work for shared library,   and it takes time to load shared library,  performance may be affected.

[2021-01-19 01:26] bbrto21 commented on #26
Flutter allows you to use the main thread as the render thread. If there is no big problem with rendering performance, maybe this is a good solution.

[2021-01-19 01:32] bwikbs commented on #26
Plz, Let me know how

[2021-01-19 01:39] bwikbs commented on #26
Hm..  I'm not sure what you mean. Is there anything we use other than shared? Didn't we have to use it anyway?

[2021-01-19 01:40] bbrto21 commented on #26
Please refer to the two below
https://github.com/flutter/flutter/wiki/The-Engine-architecture#threading
[code]

[2021-01-19 01:47] bwikbs commented on #26
@bbrto21 Your suggestion solved the ``main thread`` part, but not the ``specific callback`` part.
Anyway, I'll try it and share the result. (Maybe it will work properly...)

[2021-01-19 01:48] xuelian-bai commented on #26
I mean it's no problem to use these APIs theoretically, because it's more suitable for Flutter to use low level APIs, or why not everyone use SDL? By using lower level APIs can give flutter engine more flexibility.
So, I think Galaxy Store should modify its policy to allow flutter.so to use those APIs.

I mean you can only get function name from shared library by dlsym. I'm not sure if following A

[2021-01-19 01:57] bwikbs commented on #26
So, I think Galaxy Store should modify its policy to allow flutter.so to use those APIs.

Ah... I understand what you mean. I totally agree with you... but I'm not sure.. (maybe it's possible... :smile: who knows..)

_ZTHN4dart8OSThread18current_vm_thread_E[libflutter.so]
__dlog_print[libflutter.so]
Even you get there function pointer, you will still have to include their header files, is that all

[2021-01-19 02:44] bwikbs commented on #26
After applying the boram's suggestion, it seems to work. I don't feel any deterioration in performance.
I think ``EvasGL`` could  be one of our options again.
![result](https://user-images.githubusercontent.com/4053790/104981239-97c13200-5a4b-11eb-865d-8bc437e1f9a8.png)

[2021-01-19 05:20] bwikbs commented on #26
This is the result of investigation regarding above issue.
First of all I can find following symbol in our so.

[code]

And I also find this symbol ``dart::OSThread::current_vm_thread_`` in our source code. (Yes. This is symbol we have... :exclamation:)
[code]

It seems that the store search  undefined dynamic symbols which is not belong to white list In my guess.
So I think you can make those sym

[2021-01-19 05:26] xuelian-bai commented on #26
__dlog_print can be solved, since dlog is allowed, we may called the wrong function
https://docs.tizen.org/application/native/api/wearable/4.0/group__CAPI__SYSTEM__DLOG.html

[2021-01-19 05:31] bwikbs commented on #26
Cool. Now we only figure out how ``dart::OSThread::current_vm_thread_`` is binded our so file.

[2021-01-20 01:06] bwikbs commented on #26
symbol ``TLS init function for dart::OSThread::current_vm_thread_``  is associated with following code
third_party/dart/runtime/vm/os_thread.h
[code]
And I'm not sure how to elegantly solve it without touching third_party/dart.

[2021-01-20 01:51] xuelian-bai commented on #26
Actually I don't understand why this warning happen?  because thread_local is undefined?

[2021-01-20 05:44] bwikbs commented on #26
Well, in my opinion, the store simply detects external symbols that are not on the whitelist. and gcc generate a special symbol for the TLS variable, which seems to be detected by store.
So.. we should not use TLS for avoiding this situation.
Fortunately, not using TLS does not cause any problems with the current engine, so I want to turn it off if possible.

[2021-01-21 00:46] bwikbs commented on #26
I heard that the store will change policies for us.
So I think we don't need to proceed with this work anymore. at this moment I will open it again later if necessary.

[2021-01-21 00:46] #26 closed

[2021-02-03 01:54] bbrto21 commented on #21
Resolved by #28

[2021-02-03 01:54] #21 closed

[2021-02-04 05:35] bbrto21 opened #36 "localeResolutionCallback doesn't work correctly"
**Problem**
  - If you use localeResolutioncallback, you get the wrong locale value
  - Sample codes
[code]
**How to reproduce**
1. Launch the app
2. Change device language to another language
3. Resume the app

**as is**
 - The locale value is always wrong.
![image](https://user-images.githubusercontent.com/1579532/106848164-c13cb780-66f3-11eb-93fc-656e10f25f7e.png)

**expected**
 - The locale va

[2021-02-04 05:50] swift-kim commented on #36
I had the same issue Gallery app being displayed in Afrikaans on my emulators.

[2021-02-04 05:58] bbrto21 commented on #36
I also started by analyzing the gallery app and I guess that there are some problems.
  - First, it doesn't reflect the device language
  - Second, it seems that the fallback font is not selecte properly (I haven't found a clear reason yet.)
It seems that CJK cannot be displayed properly due to the above two problems.

[2021-02-04 06:01] bbrto21 commented on #36
we need to check whether the text is displayed properly when specify the font family including CJK explicitly

[2021-02-04 06:37] swift-kim commented on #36
It seems there are some fallback fonts under `/usr/share/fallback_fonts` that can be used to display non-alphabetic characters. Apparently SamsungOneUI or BreezeSans (in `/usr/share/fonts`) isn't enough to display all unicode characters. Still I don't fully understand how font resolution works on Tizen and inside the Flutter SDK. It was more complicated than I thought when I went through the under

[2021-02-04 10:13] bbrto21 commented on #36
if #38 is merged, flutter get a device locale properly

[2021-02-05 02:34] bbrto21 commented on #36
I will open an issue for this

[2021-02-05 02:44] bbrto21 opened #39 "Unicode and CJK are not displayed correctly."
**Problem**
- If you run the Gallery app after setting the device language to Korean, Korean will not be displayed properly.
![image](https://user-images.githubusercontent.com/1579532/106982476-86945700-67a7-11eb-81f4-7ec347ad07ad.png)

[2021-02-06 05:06] bbrto21 commented on #36
Resolved by #38

[2021-02-06 05:06] #36 closed

[2021-02-10 00:01] #39 closed

[2021-03-10 11:11] swift-kim opened #49 "Flutter 2.0.1 migration issues"
- Clang 12 build flag (`-Wno-psabi`) issue
  - Fuschia/Linux build now uses clang 12 by default but the Tizen toolchain is still based on clang 10.
  - Building the Tizen engine with the Fuschia toolchain has failed because required libraries are not available for `armv7-linux-gnueabi` target (see `buildtools/linux-x64/clang/lib`).
  - Thus, similarly to the `-Wno-non-c-typedef-for-linkage` flag,

[2021-03-11 03:04] xuelian-bai commented on #49
for the texture part, linux didn't handle GLES extension OES_EGL_image_external, which is an extension of GLES. so things are different.

[2021-03-11 03:52] swift-kim commented on #49
I don't quite understand what you mean. I told nothing about linux in the above comment. You may build the current flutter-2.0.1-tizen branch yourself and understand what the current problem is.

[2021-03-11 05:43] xuelian-bai commented on #49
sorry, it's windows, not linux. I mean windows/linux like desktop use GL instead of GLES.
I think, windows texture is applied in scenario like webrtc, the texture data is from CPU, but in our case, the data we use is from GPU, we can't do CPU-GPU copy, so a handle is tranferred instead of a buffer in ExternalTextureGL::CopyPixelBuffer

[2021-03-17 09:03] xiaowei-guan commented on #49
For the texture part.
The common part  is get data from pixel buffer(CPU->GPU)
Our implementation is get data from tbm surface(GPU->GPU)
so we need provider two sets of interface:
1.we need modify tbm interface name to make it more clearly.
2.we should implement pixel buffer part.

[2021-03-18 05:25] swift-kim commented on #49
2.0.1 has landed. Actually a new hotfix (2.0.2) was released in the upstream but will not update to it since there's no or little difference.

[2021-03-18 05:25] #49 closed

[2021-03-22 03:39] swift-kim opened #53 "Some unresolved issues"
Similarly to https://github.com/flutter-tizen/flutter-tizen/issues/60, here are some works to be done for the engine and our embedder. Please open a dedicated issue or PR if you are interested with any.

- [x] Alternative logging method on TVs (avoid using `__dlog_print`) → #67
- [x] Advanced continuous integration  → Addressed by #89
- [x] Non-fatal error "xkbcommon: ERROR: couldn't find a Compos

[2021-03-22 12:49] xiaowei-guan opened #55 "Investigate why SkSL shaders cannot be collected on Tizen devices"

[2021-03-23 02:07] bbrto21 commented on #53
I checked about Endless thread creation, but I didn't see that case. Could you tell me how to reproduce it?
As a result of my checking, whether it is a flutter app or just an app, thread creation and deletion occurs several times.

[2021-03-23 02:25] swift-kim commented on #53
@bbrto21 It occurs on my Galaxy Watch (R805) device usually after a long time from booting. I said it's "endless" because a thread is created and deleted repeatedly on every touch event (up, down, move). The same bug has previously been reported and fixed by #32 but it still occurs on my device occasionally. I'll show you when I manage to reproduce it.

[2021-03-23 05:09] bbrto21 commented on #53
I don't know what this means, somehow, it didn't occur with Evas GL.
But it happens in Evas GL direct mode, which may be because our PoC implementation is not perfect.
I'm not sure, but I leave this comment as it seems to be useful.

[2021-03-23 05:26] swift-kim commented on #53
@bbrto21 When you start the Gallery app on a TM1 device (not emulator but real device) and open one of Cupertino widget examples, you will get what the problem is. I reported this issue for the first time in M Chat about months ago. It could be an issue with ecore_wl so it may not happen with the Evas GL backend.

[2021-03-23 06:37] bbrto21 commented on #53
There seems to be some misunderstanding. I know that there is a problem with ecore_wl. What I'm trying to share is that I don't know why, but the problem goes away in Evas GL. Thanks for your interest!

[2021-03-24 01:17] XuWanchaoS commented on #53
=> Alternative logging method on TVs (avoid using __dlog_print)
Do you mean change '__dlog_print' to 'dlog_print' in tizen_log.h?

On TV 6.0 emulator, it should add '-b system' for dlogutil to print log when using __dlog_print, and add '-b apps' when using 'dlog_print'.

[2021-03-24 01:30] swift-kim commented on #53
Yes, I was working on a method that globally works on TV, watch, and emulators. (https://github.com/swift-kim/engine/commits/dlog-internal)

So this option can be enabled for test emulators only? I'll ask you how to get the test emulator personally later.

[2021-03-25 05:46] wiertel opened #56 "typo in function name: FlutterDestoryWindow"
https://github.com/flutter-tizen/engine/blob/e629333c726cb9492e14f73aadc616e9ab0a666f/shell/platform/tizen/public/flutter_tizen.h#L63

The "Destory" occurs 27 times in the repo. This one is part of public API and should probably be fixed. But I guess current name should continue to work to maintain compatibility.

[2021-03-25 06:01] swift-kim commented on #56
What a mistake. The change in `flutter_tizen.h` will not break anything as long as we simultaneously update https://github.com/flutter-tizen/flutter-tizen/blob/master/nuget/Tizen.Flutter.Embedding/Interop.cs as well. The change will definitely affect apps already created with the C++ language option (`flutter-tizen create --tizen-language cpp`, https://github.com/flutter-tizen/flutter-tizen/blob/m

[2021-03-25 22:37] bwikbs commented on #55
Can you explain in more detail what the problem is?

[2021-03-26 03:09] swift-kim commented on #55
https://flutter.dev/docs/perf/rendering/shader

If you run an app which has animations with the following command, a json file containing shader information should be generated in the project directory. On Tizen, the shaders are simply not captured and thus the file is not generated. I haven't looked into this issue in much detail. Note that there won't be a lot of performance gain we can obtain w

[2021-03-26 06:34] bwikbs commented on #55
@swift-kim thanks :smile:

[2021-03-29 00:12] swift-kim opened #57 "[Tizen 4.0] Apps cannot launch"
Apps cannot be started on a Tizen 4.0 device/emulator (regardless of the build mode or app type) after Flutter 2.0 update. Wanchao has initially reported this issue by testing on a Tizen 4.0 watch emulator (with a plugin sample) and the issue has been confirmed to be applicable for any Tizen 4.0 device and any app.

[code]

[2021-03-29 01:00] swift-kim opened #58 "[Tizen 5.5 watch] Apps cannot launch in candidate mode"
.NET type apps crash on my Tizen 5.5 watch device when run in candidate mode (launched from an existing loader process without creating a new process). The issue is probably related to the EFL preloading feature on watch devices. (Removing files in `/usr/share/dotnet.tizen/preload` temporarily fixes the problem - only for rooted devices.)

How to reproduce:
1. Create a project and run on a 5.5 wat

[2021-03-29 02:45] swift-kim commented on #58
This issue seems to be related to #57.

[2021-03-29 02:55] swift-kim commented on #57
lldb showed a similar stack trace to #58, so this might be a freetype-related issue again.

[code]

Reverting some skia commits temporarily fixed the problem.
- https://github.com/google/skia/commit/2c73fc43a36e1a786985d40f27cba39b8187fa68
- https://github.com/google/skia/commit/541601602ee94b1fbf04d9b2fe0661951960f97c

[2021-03-30 01:49] swift-kim commented on #58
More detailed backtrace:

[code]

[2021-03-30 03:34] swift-kim commented on #58
It seems Skia has an unexpected behavior on Tizen 4.0 and 5.5 because it tries to dlopen the system FreeType library and  `FT_COLOR_H` (https://flutter.googlesource.com/third_party/freetype2/+/1f03c1b2d7f2ae832a4fbe9d12bd96c3c15bbece/include/freetype/config/ftheader.h#777) was newly added to freetype2 by the last patch ([[freetype2] Update to version 2.10.4](https://flutter.googlesource.com/third_

[2021-03-31 08:31] swift-kim commented on #58
freetype2 is statically linked by skia so I don't really understand why the system freetype2 library is referenced dynamically at runtime on Tizen. Please let me know if anybody has an idea.

[2021-03-31 08:34] #56 closed

[2021-03-31 09:03] swift-kim commented on #57
#58 is basically the same issue (`libfreetype.so` is loaded before the app code is run) so let's continue the discussion there.

[2021-03-31 09:03] #57 closed

[2021-04-07 06:27] swift-kim commented on #55
You may analyze performance benefits from caching the shaders on Android devices first, and then decide whether this issue is worth investigating or not for Tizen.

[2021-04-07 07:33] balvinderz opened #62 "Text not appearing on samsung galaxy watch active 2"
![WhatsApp Image 2021-04-07 at 1 02 33 PM (1)](https://user-images.githubusercontent.com/30950893/113828023-8f9ea600-97a1-11eb-8dcc-f8f104e08d98.jpeg)

Sample Code
import 'package:flutter/material.dart';

void main() {
  runApp(MyApp());
}

class MyApp extends StatelessWidget
{
  @override
  Widget build(BuildContext context) {
    // TODO: implement build
    return MaterialApp(
      home: Scaff

[2021-04-07 07:36] #62 closed

[2021-04-09 11:37] xiaowei-guan commented on #55
### What is shader compilation jank?
If an app has janky animations during the first run, and later becomes smooth for the same animation, then it’s very likely due to shader compilation jank.
### What is SKSL warmup?
The SkSL shaders can be packaged into the app, and get warmed up (pre-compiled) when an end-user first opens the app, thereby reducing the compilation jank in later animations.
![sha

[2021-04-13 10:26] xiaowei-guan commented on #55
If we want to generate flutter.sksl.json，we need set persistent_cache_path when call FlutterEngineRun.

[2021-04-14 06:24] swift-kim commented on #55
@xiaowei-guan Great. Can you see any performance diff on Tizen devices when you launch an app (e.g. gallery) multiple times after setting the path?

[2021-04-14 11:36] xiaowei-guan commented on #55
Although could get SKSL shaders file, But there are some minor issues, I am trying to fix it.

[2021-04-15 06:43] xiaowei-guan commented on #55
Do we support command:
flutter-tizen build tpk --bundle-sksl-path flutter_03.sksl.json

[2021-04-15 07:06] swift-kim commented on #55
As far as I remember the file is included within flutter_assets directory which is not platform-specific, so yes.

[2021-04-15 09:41] xiaowei-guan commented on #55
How to get SKSL shaders file.
1.set persistent_cache_path when call FlutterEngineRun .
2.flutter run --profile --cache-sksl
How to build tpk with SKSL shaders file
flutter-tizen build tpk --bundle-sksl-path flutter_03.sksl.json

[2021-04-19 06:55] pwasowski2 opened #68 "Engine build fails"
I am trying to build engine from flutter-tizen/engine repo, to use it with flutter. I am following the manual from https://github.com/flutter-tizen/engine/wiki/Building-the-engine and I have been stuck on point 5. from this part of the manual https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment:

When I use "https://github.com/flutter-tizen/engine.git" as the "url"

[2021-04-19 12:32] xiaowei-guan commented on #55
I launch a Flutter app with animation, no obvious effect.
And I build gallery failed, I will launch gallery app with SKSL later.

[2021-04-21 03:27] bbrto21 opened #70 "Consider tmb format when using external texture"
external texture's format are fixed as GL_RGBA8, However, the TBM surface has a variety of formats.
We've started to worry about this while developing our plugin.
here is our discussion https://github.com/flutter-tizen/plugins/pull/70#discussion_r617066957

[2021-04-21 03:29] bbrto21 commented on #70
By the way, when I tried to create an issue by referencing a conversation from the plugin repository, I couldn't select the engine repository. Does anyone know why?

[2021-04-21 05:25] swift-kim commented on #68
I tried to reproduce but my gclient hangs forever at:

[code]

[2021-04-21 05:54] swift-kim commented on #68
My problem was resolved by setting `"https://github.com/flutter/engine.git"` (the upstream repo) as the value of `"url"`.

[code]

This is also a kind of workaround but may solve your problem as well.

[2021-04-21 22:09] bwikbs commented on #70
Don't you know what you can't do... What do you want to do? Engine issue reference?

[2021-04-22 00:20] bbrto21 commented on #70
I mean this
![Screenshot from 2021-04-22 09-01-38](https://user-images.githubusercontent.com/1579532/115637747-e1bbfb80-a34b-11eb-8707-bf4b531ba550.png)

[2021-04-23 05:35] swift-kim opened #71 "Current limitations of the Evas GL renderer"
The Evas GL mode (#67) currently has the following issues.

Known issues:
- Not working with the video_player plugin (only displays the white screen)
- Not working with the webview_flutter plugin (cannot scroll pages, prints `OnFrameAvailable fail texture_id = 1`)

Might be improved (non-critical if targeting the werable profile only):
- Does not support hardware keyboards (`isIME` is always set t

[2021-04-26 15:16] pwasowski2 commented on #68
Thanks for that, it looks simpler than the one I've found before :)

[2021-04-26 15:35] pwasowski2 commented on #53
I have implemented HapticFeedback.vibrate() in this PR: https://github.com/flutter-tizen/engine/pull/75

In `src/flutter/shell/platform/tizen/channels/platform_channels.cc`, there's also unimplemented `SystemSound.play`. Is it on our TODO list? If so, I can implement it ;)

[2021-04-27 05:56] swift-kim commented on #53
@pwasowski2 I'm not sure how often `SystemSound.play` is used by normal apps but of course you can implement it if you want. :)

[2021-04-28 10:57] pwasowski2 opened #77 "Implement SystemSound.play in "flutter/platform" channel"
`SystemSound.play` method, handled by "flutter/platform" message channel is not implemented.

[2021-05-03 03:52] swift-kim commented on #55
I couldn't see any obvious effect either and the cached shaders even delayed the execution.

[code]

Measured on rpi4 (arm64) with the gallery app (native app, hw-acceleration on).

[2021-05-06 05:26] #55 closed

[2021-05-08 07:41] #68 closed

[2021-05-10 08:49] swift-kim commented on #58
My attempts:

- Adding the `-Bsymbolic`/`-Bsymbolic-functions` linker flag when building the engine (FAILED)
- Unloading `libfreetype.so.6` (with `dlclose`) before starting the engine (FAILED)
- Re-opening `libflutter_engine.so` with the `RTLD_DEEPBIND` flag (FAILED)

[2021-05-12 01:23] #77 closed

[2021-05-12 08:22] pkosko commented on #53
I've marked this point as 'done'

because of PRs:
* https://github.com/flutter-tizen/engine/pull/75
* https://github.com/flutter-tizen/engine/pull/76
* https://github.com/flutter-tizen/engine/pull/79
* https://github.com/flutter-tizen/engine/pull/84

[2021-05-13 01:16] #58 closed

[2021-05-13 09:47] swift-kim opened #89 "Improve the engine CI"
Build
- [x] Build for each arch/mode/profile

Analyze
- [x] Formatting ~& Linter~ → #90
- [x] API checker (ensure no internal API is used by the wearable embedder) → #140

Release
- [ ] Automatic [release](https://github.com/flutter-tizen/engine/releases) (the [GitHub Release task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/github-release) didn't work when I tested last

[2021-05-24 08:14] pwasowski2 commented on #53
@swift-kim, could you please tell how to reproduce the problem? I have launched the basic app, generated with `flutter-tizen create` on my TM1 device and haven't seen this error in `dlog` output. Have I been even looking in the right place? 😕

[2021-05-24 08:21] bbrto21 commented on #53
@pwasowski2
1. Launch Settings
2. Go -  Language and input
3. Go - Display language
4. Choose a language other than English
5. Launch flutter-app

[2021-05-24 08:27] pwasowski2 opened #91 ""xkbcommon: ERROR: couldn't find a Compose file for locale" on app launch"
This issue has been reported in https://github.com/flutter-tizen/engine/issues/53:

Reproduction by @bbrto21:

`dlog` output:

[2021-05-24 08:27] bbrto21 commented on #53
I guess it's a problem with the Compose file. Actually, TM1 only has compose file of en_US.UTF-8 as below.
I don't think this is a serious problem, but I don't know why this error log doesn't occur when launch other normal Tizen apps.

[code]

[2021-05-24 08:29] pwasowski2 commented on #53
@bbrto21, thanks for showing how to reproduce the problem 👍  I'll look into it. I have opened a new issue for it #91

[2021-05-24 08:42] swift-kim commented on #53
@bbrto21 The error occurs for non-Flutter apps as well. That's why I marked it "unrelated to Flutter".

[2021-05-24 09:15] bbrto21 commented on #53
@swift-kim, cc @pwasowski2
Under the same conditions, when I launched a simple native app, I didn't see this log.
How do I reproduce when I launch non-flutter apps?

[2021-05-24 09:16] pwasowski2 commented on #53
@swift-kim, @bbrto21, I have run a web and native app and the problem didn't show up, too.

[2021-05-24 09:20] swift-kim commented on #53
I used to see the message when I was launching .NET apps but I'm not sure about the native apps.

[2021-05-24 09:54] pwasowski2 commented on #91
Continuing the conversation from #53:

@swift-kim, @bbrto21, I have run a .NET app on my TM1 and got the error in the dlog:

The log does not appear when I run native or web apps, so it seems to be a problem with .NET runtime.
I guess, we should just report it to the .NET runtime team - what do you think about it?

[2021-05-24 11:05] swift-kim commented on #91
I'm part of the .NET runtime team. I'll ask one of my colleagues first. 😉

[2021-05-24 14:20] pwasowski2 commented on #53
@swift-kim, could you please provide more info about this problem?

I haven't yet experienced this problem - could you please tell how to reproduce it?

[2021-05-25 01:18] swift-kim commented on #53
@pwasowski2 If you run an app in profile mode and open [the Performance view](https://github.com/flutter-tizen/flutter-tizen/blob/master/doc/devtools-usage.md#performance-view) in Flutter DevTools, you will see this screen:

![Screenshot from 2021-05-25 10-04-42](https://user-images.githubusercontent.com/40190588/119424620-c6744f80-bd40-11eb-85e6-3b8dab34b2b5.png)

As you can see in the stack trac

[2021-05-25 01:36] bwikbs opened #94 "Support multiple screens"
- Support ``FlutterEngineGroup`` to tizen
https://flutter.dev/docs/development/add-to-app/multiple-flutters

- Run sample at tizen device
https://github.com/flutter/samples/tree/master/add_to_app/multiple_flutters

[2021-05-25 01:51] swift-kim commented on #91
I submitted an error report: https://github.sec.samsung.net/dotnet/home/issues/403 (intenal GitHub)

[2021-05-25 06:56] pwasowski2 opened #95 "Symbol resolution fails for system libraries in DevTools stack traces in Performance tab"
The problem is described in: https://github.com/flutter-tizen/engine/issues/53#issuecomment-847459549

[2021-05-25 06:58] pwasowski2 commented on #53
@swift-kim, thanks for the detailed description. I'll look into the problem in #95.
For now, I guess that we'll at most be able to show the symbol names if "debug" RPMs for the libraries are installed.

[2021-05-25 11:39] HakkyuKim opened #96 "Font not rendering in some cases"
Font not rendering issues were noticed in:

- https://github.com/flutter-tizen/engine/issues/39
- https://github.com/flutter-tizen/flutter-tizen/issues/72

Even with some patches, the problem is not fully fixed. I tried to solve the problem, but I'm kind of stuck. I hope someone could give me some advice. Or, you could try to fix it if you're interested.

## Using fontconfig

Problem: Using fontco

[2021-05-27 03:36] bbrto21 commented on #95
The inspiration from this conversation(https://github.com/flutter-tizen/engine/pull/97#issuecomment-849255272) has led to the following progress:

![Screenshot from 2021-05-27 12-06-48](https://user-images.githubusercontent.com/1579532/119761980-cbbfce80-bee7-11eb-9a86-ea2c5dd22715.png)

[2021-05-27 05:29] swift-kim commented on #89
See also:

- The official Flutter CI
  - https://ci.chromium.org/p/flutter
  - https://ci.chromium.org/p/flutter/g/engine-try/builders
  - https://www.chromium.org/developers/testing/chromium-build-infrastructure/tour-of-the-chromium-buildbot
  - https://github.com/flutter-tizen/engine/tree/flutter-2.0.1-tizen/ci/dev

[2021-05-30 07:13] swift-kim opened #99 "Investigate the advantage of enabling SkSL warmup"
### What is shader compilation jank?

https://flutter.dev/docs/perf/rendering/shader

### How to enable SkSL warm-up on Tizen?

1. Set the `FlutterProjectArgs.persistent_cache_path` value to either a system temp directory or the app cache directory before starting the engine. Alternatively, the cache directory can be set by implementing `fml::paths::GetCachesDirectory()` in `fml/platform/linux/pat

[2021-05-30 07:14] swift-kim opened #100 "Move the Tizen embedder out of the engine source tree"
https://flutter.dev/go/federated-platforms

It makes managing our commit history easier (no need to rebase the entire commit tree when updating the engine).

[2021-05-30 07:20] swift-kim opened #101 "Improve the logging system"
Previous discussion: https://github.com/flutter-tizen/engine/pull/75#discussion_r628036964

- The embedder should properly control its logging level based on the `verbose_logging` switch (which is enabled by `flutter-tizen run --verbose-system-logs`).
  - Example:
    https://github.com/flutter-tizen/engine/blob/9f08d1872c19aa781edbb99e410e06e69018f970/shell/common/shell.cc#L228-L231
- Remove unne

[2021-05-30 23:16] bwikbs commented on #94
Currently, My goal is to get the following screen with  a new ``FlutterEngineGroup`` API. Because I think this can satisfy the requirements what I understand.
![dump_screen](https://user-images.githubusercontent.com/4053790/120123215-856cb700-c1e8-11eb-8f57-1e4e20aeb127.png)

[2021-05-31 02:25] bbrto21 commented on #95
I checked the profile tool using three .so as follows
Among them, most symbols were resolved when using .so with the --unoptimized option.
@pwasowski2 Could you check it?

**profile**
![profile](https://user-images.githubusercontent.com/1579532/120130600-89590300-c201-11eb-8f69-4d39de795270.png)

**profile.so.unstripped**
![profile so unstripped](https://user-images.githubusercontent.com/1579532/1

[2021-05-31 06:42] bbrto21 commented on #95
As a result of test and trying based on several config options, I think it depends on ["//build/config:debug"](https://github.com/flutter/buildroot/blob/ff1975def53bfdaa1ff3f4b0cceabf54e1323392/build/config/BUILDCONFIG.gn#L373)

[2021-05-31 16:09] pwasowski2 commented on #95
@bbrto21, I think you've nailed it 👌 Thanks a lot 😃

Native symbols indeed resolve after adding `--unoptimized` flag. Some of them (e.g. from libc.so) are still not resolved, but installing related `*-debug.rpm`s solves the problem and proper names are shown for them, too.

The question now is, what should we do about it? IMO, turning `--unoptimized` on by default for release binaries is not an op

[2021-06-01 02:44] swift-kim commented on #95
Agreed.

Right. Turning on the unopt flag significantly lowers the performance as well. And that's why we can't use the "unoptimized" binaries for CPU profiling and performance analysis. So if we want to get correct results from the profiling tools, we need to find a way to fix the symbol resolution issue without disabling optimizations.

I think the best place would be the "Building the engine" p

[2021-06-01 04:08] bbrto21 commented on #95
@pwasowski2 @swift-kim I agree too

[2021-06-01 06:24] bwikbs commented on #94
@xuelian-bai @swift-kim Any comments?

[2021-06-01 18:41] pwasowski2 commented on #95
Ok, I'll go further down the rabbit hole and see how we can get all the symbols for profile builds ;)

I'll update the wiki afterwards.

[2021-06-02 00:43] xuelian-bai commented on #94
I'm not sure about this, but I think, if we want to support multi-screens, we can just create multiple flutter engines, each engine has its own window, this may consume many resources, but it's easy to do this way.
I think multiple-flutters solution is actually from hybrid application on android(some pages are written in kotlin, some pages are written in dart). I will check more details tommorow.

[2021-06-02 01:20] xuelian-bai commented on #94
for multiscreen requirement, is it for multiple monitor? One monitor display one window? Only one window can handle input events?  If that's the scenario, we can use eom to present another window(image) on another display. https://code.sec.samsung.net/confluence/display/WSI/EOM

[2021-06-02 02:28] swift-kim commented on #94
@xuelian-bai Yes, I heard the second monitor wouldn't accept touch input and only display visual contents (mostly ads) without user interaction for now. Probably the API you mentioned will be used (I don't know the details). However, the scenario may be changed in the future and I think @bwikbs is preparing for possible future requirements.

[2021-06-02 03:47] swift-kim commented on #91
We may filter out this error message by simply adding a filter in the log reader. 😎

(Adding a new if statement between line 626-629: https://github.com/flutter-tizen/flutter-tizen/blob/f0ad603ef30f811b99510e07a6eeed25f950459b/lib/tizen_device.dart#L627)

[2021-06-02 03:52] bwikbs commented on #94
yes

Nothing has been confirmed yet. I wish I want to know too.. :smile:

``eom`` is the solution that other teams have been telling me to use for this. So we will probably use it. But I'm not sure if we can guide this to flutter app developers.

There are many ways that how app developers use this, and I hope you will focus on that and share and discuss our ideas.

[2021-06-02 04:41] bbrto21 commented on #91
It seems that this is no longer an issue we need to handle. how about closing this issue?

[2021-06-02 05:29] swift-kim commented on #91
https://github.com/flutter-tizen/flutter-tizen/pull/131 work arounds this issue.

[2021-06-02 05:30] pwasowski2 commented on #91
We have received the following message about this behavior, from C# runtime team:

A patch for this problem has already been merged to `xkbcommon`.

@swift-kim, it seems, that the problem has been fixed in `xkbcommon`, so I close this issue as @bbrto21 suggests ;)

[2021-06-02 05:30] #91 closed

[2021-06-02 12:08] pwasowski2 commented on #95
I have investigated the problem a little bit more and have found out a way of resolving more symbols on `profile` builds.

First, look at this change draft of `tools/gn `: https://github.com/pwasowski2/engine/commit/b9b44b9ad8b35f58c10e674be68282d42b73024d
Flutter devs have commented out `enable_profiling` flag from `gn` wrapper script. It means, that `enable_profiling` is always false and thus th

[2021-06-02 16:46] swift-kim commented on #95
Thank you for the detailed analysis! The suggested change looks good to me, and I have a few quick questions:

- Are the remaining unresolved symbols related to text rendering? If so, could you check again by deleting the 271st line of the `shell/platform/embedder/BUILD.gn` file and rebuilding the engine? The version script file `flutter_engine_exports.lst` is supplied to `libflutter_engine.so` to

[2021-06-03 02:22] bbrto21 commented on #95
The last time I tried to use symbol_level, it only worked as expected with "//build/config:debug". of course, there is a slight performance penalty.
@pwasowski2  Could you check the below?
[code]
- config:debug : https://github.com/flutter/buildroot/blob/ff1975def53bfdaa1ff3f4b0cceabf54e1323392/build/config/BUILD.gn#L66
- config:complier:optimize : https://github.com/flutter/buildroot/blob/ff1975d

[2021-06-03 07:15] xuelian-bai commented on #94
We may refer to this plugin https://github.com/VNAPNIC/presentation-displays.git

[2021-06-03 08:04] xuelian-bai commented on #94
Here is my initial idea, didn't consider much details
 ![avatar]([https://github.com/xuelian-bai/rpi-vk-driver/blob/master/draft.png)

[2021-06-04 01:37] bwikbs commented on #96
FONTCONFIG_FILE is used to override the default configuration file.
FONTCONFIG_PATH is used to override the default configuration directory.
FONTCONFIG_SYSROOT is used to set a default sysroot directory.
FC_DEBUG is used to output the detailed debugging messages. see Debugging Applications section for more details.
FC_DBG_MATCH_FILTER is used to filter out the patterns. this takes a comma-separate

[2021-06-04 04:45] bwikbs commented on #94
Thanks for giving me a good idea!
I have a question.
Is this the same process?
Could you explain a bit more running the engine? I have no idea where the dart is and where the native is.

[2021-06-04 09:08] xuelian-bai commented on #94
it's just a rough process, here are more details, almost the same as the referred plugin:
dart app --> define external widget, main widget build() --> init eom plugin --> get outputid from eom --> create new flutter engine --> set window to outputid --> set initialroute as defined external widget for flutter engine in dart.
The referred plugin can use flutterview, but we can't, since we don't need

[2021-06-04 12:47] pwasowski2 commented on #95
Thanks for feedback, I have tested proposed build configuration changes and here's what I've found:

It seems, the unresolved symbols don't come from Freetype. After removeing the `ldflags = [ "-Wl,--version-script=" + rebase_path("flutter_engine_exports.lst") ]` from `shell/platform/embedder/BUILD.gn`, some symbols are still unresolved.

**`enable_profiling = true`, 271st line of the shell/platfo

[2021-06-05 11:22] HakkyuKim commented on #96
@bwikbs
Thanks for the idea! I'll look into this.

[2021-06-07 01:10] xuelian-bai commented on #94
https://github.com/xuelian-bai/rpi-vk-driver/blob/master/draft2.png?raw=true

[2021-06-07 01:11] xuelian-bai commented on #94
![avatar](https://github.com/xuelian-bai/rpi-vk-driver/blob/master/draft2.png?raw=true)

[2021-06-07 02:07] bwikbs commented on #96
**update** :up:
Confirm that fontconfig setting is changed with the following code.
[code]
we need to change smack as follows to read
[code]
I think the next part of config make the problem.
[code]
Without looking at the font, I don't know the exact cause yet... I'm thinking of just throwing away all the problematic parts. like this:
[code]

[2021-06-07 03:29] bwikbs commented on #94
Unfortunately no one can do this. :smile:

-----
I think your approach is pretty good.(Especially,app developer doesn't need a native app interface) but still need a new engine instance and window instance.(Am I right?)
``FlutterEngineGroup`` API has resource and performance advantages. so.. I think it is still necessary to apply this to Tizen.

IMO, Now is the time to prepare for the unclear requ

[2021-06-07 08:20] xuelian-bai commented on #94
Yes, it needs a new engine instance, and I'm not sure if this engine instance can access "route" in main widget.
We need a new window because eom can only set window to external display.

I checked android patch, lots of work, when will you start?

I will assign xiaowei to investigate and implement eom related plugin, is that ok?

Actually I think there is another easier approach for the requireme

[2021-06-07 10:22] pwasowski2 commented on #95
One more benchmark, that was missing in my previous comment:

**`profile` build with `--unoptimized`**
<img width="785" alt="linux_profile_arm_enable_profiling_commented_out_profile_unoptimized_build" src="https://user-images.githubusercontent.com/38784511/121000417-79ee3280-c78a-11eb-9ee6-d5241deac9d8.PNG">

Adding `--unoptimized` flag to `--profile` build seems to decrease the performance when c

[2021-06-07 22:42] bwikbs commented on #94
Yes, you're right! And I haven't figured out what to do yet. My current plan is to create an API that uses the shell's spawn API first, and then slowly add the rest of the work and what we need.

After the word came out, Let me share what I've checked so far...
Currently, When our embedder uses two engines at the same time, the only problem is the vsync waiter. This is not a problem with our imple

[2021-06-08 00:48] xuelian-bai commented on #94
Why two vsync are not supposed to use at the same time? I didn't check code of this part, but theoretically, If there are two engines, then there are two vsync, they are in different thread, why can't co-exist?

[2021-06-08 01:26] haesik commented on #94
@xuelian-bai You can make the EOM related plugin of course, but we can change the direction or plan to support multiple screens

[2021-06-08 03:13] xuelian-bai commented on #70
tbm surface has lots of formats, but not everyone is supported by hardware. for eglimage, normally, YUV/NV12 formats could be supported by most Tizen devices, if you need, we can try to support them. RGBA is just a common format which could be supported by everyone.

[2021-06-08 03:32] xuelian-bai commented on #70
tbm surface has lots of formats, but not everyone is supported by hardware. For eglimage, when tbm surface is transffered into eglimage, GPU driver will read the tbm buffer and check the formats, not NV12/YUV420 formats are supported on most Tizen devices, these formats will be converted inside GPU. But the mentioned GL_RGBA8 format is not for tbm surface, it's texture format, they are different.

[2021-06-08 03:55] bbrto21 commented on #95
Looks good!, I think this issue is almost closed now.

[2021-06-08 07:51] bwikbs commented on #96
**update** :up:
I finally understand why it goes wrong! Plz, Forget what I suggested before. I guess It's not right way.
Here's the problematic part.
[code]
In the case of a problem, our target consists of fonts that contain an exclusive language, and the wrong font is selected through this sorting.

Now that we know the cause, let's think about a patch. :smile:

[2021-06-08 11:57] bwikbs commented on #70
Ummm... Then who converts the tbm format to the format used by texture?  driver?

[2021-06-09 00:17] xuelian-bai commented on #70
yes, inside eglCreateImageKHR(), GPU driver will check tbm format, and conversion will be done inside GPU if necessary, and you can also use shader to do the conversion if GPU driver don't support it.

[2021-06-09 02:11] bbrto21 commented on #96
Last night @bwikbs and I made some progress.
We found that when choosing the most closest font using a matched font family, it was missing to ensure that the font had the glyph. I think that if we fix this, we can re-enable the font-config and we can revert patches related to this that tried to fix this issue

[2021-06-09 03:21] bwikbs commented on #70
@xuelian-bai Thanks! :smiley:

[2021-06-09 11:04] pwasowski2 opened #110 "Invalid name of a privilege in a log message"
The problem was reported in https://github.com/flutter-tizen/plugins/issues/115#issuecomment-852849450:

Fix: https://github.com/flutter-tizen/engine/pull/109

[2021-06-10 02:06] bbrto21 commented on #96
https://github.com/flutter-tizen/engine/pull/106#issuecomment-858213469

[2021-06-10 02:22] bbrto21 commented on #96
I think we're getting close to the answer, let me do further analysis

[2021-06-10 08:24] xiaowei-guan opened #111 "Support dart entrypoint"
Typically, a Flutter app begins execution at the Dart method called main(), however this is not required. Developers can specify a different Dart entrypoint

[2021-06-10 10:44] bbrto21 commented on #96
This is the case where the first character to be matched in the process of creating the text Run is a special character.

I think the essence of this problem is that algorithms related to the font family assumes that the character expression coverage(or range) of the font family and the character expression coverage(or range) of individual fonts in font family are the same. and unfortunately, font

[2021-06-10 10:57] bbrto21 commented on #96
I have a few ideas, so I'll try.

[2021-06-10 11:47] swift-kim commented on #111
The plugin build system (https://github.com/flutter-tizen/flutter-tizen/blob/20007aa24f83ff21ff3f5314410f16e448b0d75c/lib/tizen_plugins.dart#L194) should be a current blocker for this. I'll check if there's any way to work around if you give me some example of how to test this. (You're not referring to named routes, right?)

[2021-06-10 22:43] bwikbs commented on #96
@bbrto21 Thanks for the detailed analysis. :+1:  I came up with an idea based on your analysis.
This caches the glyphs used to match font families and uses them when selecting fonts.
I'd love to hear your opinion.

[2021-06-11 02:12] swift-kim commented on #111
For those who are interested:

Custom entry points can be specified in Dart code using `@pragma("vm:entry-point")`: https://github.com/dart-lang/sdk/blob/master/runtime/docs/compiler/aot/entry_point_pragma.md

The Android embedder supports starting an engine from a custom entry point:

[code]

What you are trying to do is to set different entry points for spawned engine instances, right?

If so, t

[2021-06-11 05:13] bwikbs commented on #111
@xiaowei-guan
Is the purpose of this preparation for the  FlutterEngineGroup API? If so, thanks! :smile:

[2021-06-11 07:09] xiaowei-guan commented on #111
Yes, we try set entry point for flutter engine on Tizen.
[code]

[2021-06-11 12:10] xiaowei-guan commented on #111
we

we add this for multiple screen based on EOM, run two engines, not share memeory.
and I find if we want implement FlutterEngineGroup, Entrypoint is required.

[2021-06-14 00:56] #95 closed

[2021-06-14 01:02] #110 closed

[2021-06-14 03:24] bwikbs commented on #94
yes, if only one engine with two windows, performance won't be good

@xuelian-bai Can you tell me something about this?

[2021-06-14 05:42] bwikbs commented on #94
I think I've shared what I'm trying to do.
@swift-kim @xuelian-bai How do I handle below commit?
https://github.com/flutter-tizen/flutter-tizen/pull/126, https://github.com/flutter-tizen/engine/pull/98

IMO, there are two options.
1. Working on a separate dev branch.
2. Put it in main as an experimental feature.

Plz, give me your opinion.

[2021-06-14 06:32] swift-kim commented on #94
@bwikbs If the design and API haven't been fixed yet, the first option looks better for me. If not many API changes will be made in the future, you might also consider the second option.

[2021-06-14 06:38] bwikbs commented on #94
Thanks for your comment. I think the first one is better too.

[2021-06-16 02:26] bwikbs commented on #94
**update**
I tested the shell's spawn API. It seems that simply using the API does not help with memory management.
(Except for the shell API, everything else is the same.)
1) Use shell's ``Spawn`` API
[code]
2) Use shell's ``Create`` API
[code]

[2021-06-16 05:50] swift-kim commented on #101
Fixed by #108. Thanks to @pkosko.

[2021-06-16 05:50] #101 closed

[2021-06-16 08:03] xuelian-bai commented on #94
@bwikbs did you run in release mode?

[2021-06-16 08:05] bwikbs commented on #94
No, only debug mode. Is there any difference?

[2021-06-16 08:14] xuelian-bai commented on #94
not sure if it's related, but you may see in function DartIsolate::CreateRootIsolate(), it will also check DartVM::IsRunningPrecompiledCode() if spawning_isolate. anyway, worth a try..

[2021-06-16 22:38] bwikbs commented on #94
Here is result of ``release``
As you said, the results is little different. Thanks for your tip! :+1:
There seems to be some gain at ``PSS``, and the launch seems to be a little bit quicker.(by human sensor! :smile:   )
I feel it's worth moving on.

---

1. Use shell's ``Spawn`` API

| PID | S(CODE) | S(DATA) | P(CODE) | P(DATA) |PEAK |  PSS  | 3D GEM(PSS)| GEM(RSS) | SWAP | oom_score_adj |   COMM

[2021-06-17 00:58] xuelian-bai commented on #94
hmm. launch is definitely quicker, as I tested, release mode will decrease about 500ms when preparing dart isolate, since it's using AOT.

[2021-06-17 07:40] xuelian-bai commented on #99
as the result I shown, sksl warmup can reduce time in GrGLProgramBuilder::finalize(), then reduce DrawSnapshot time about 200ms, but this will result in more time before OnMakecurrent in the same thread, that's why you can't see any improvement, I will check why.

[2021-06-17 08:07] swift-kim commented on #99
@xuelian-bai Thank you for sharing. I was just to correct what you mentioned about the "launch time" because the sksl warmup typically doesn't reduce the startup time but rather increases it. From the medium link that I provided in the above comment, you will see

[2021-06-18 03:06] xiaowei-guan commented on #94
https://github.com/xiaowei-guan/engine/tree/dart_entrypoint
I have finished sample code for multiple screens based on EOM in flutter engine.
if we want to full support multiple screens, we need :

1. support dart entrypoint.
2. support engine group.
3. fix vsync issue

[2021-06-18 04:45] bwikbs commented on #94
Oh, thank you!
If things go well, it might be possible to run an [example](https://github.com/flutter/samples/tree/master/add_to_app/multiple_flutters) by referring to this.

[2021-06-22 05:52] swift-kim opened #123 "Disable logging threads when running in release mode"
Dart messages should be logged through the new logging callback recently added to the embedder APIs as suggested by https://github.com/flutter-tizen/engine/pull/105.

The current plan:

- When running in release mode, only Dart messages are logged to dlog.
- When running in debug mode, Dart messages and all stdout/stderr messages are logged to dlog.

[2021-06-23 08:10] swift-kim commented on #99
Currently the following message is logged out to the console when an app is run with the `--verbose-system-logs` option in debug mode.

[code]

[2021-06-23 08:12] swift-kim commented on #96
#122 has been merged. I'll close this issue.

[2021-06-23 08:12] #96 closed

[2021-06-23 09:01] xuelian-bai commented on #99
did you set the path FlutterProjectArgs.persistent_cache_path?

[2021-06-23 09:09] swift-kim commented on #99
@xuelian-bai No. I know why the error is displayed. The above comment just states the current status.

[2021-06-23 09:14] swift-kim commented on #53
This issue now occurs on watch devices too. We need to check why.

[2021-06-25 09:05] swift-kim commented on #123
Unhandled exception reports are not treated as Dart messages, but instead they are just printed out to the standard output through fml. We can't apply the above approach without modifying fml itself because we still need to redirect engine messages (such as unhandled exception reports) to dlog.

[2021-06-29 02:54] swift-kim opened #130 "Flickering when animating cupertino widgets"
Previously only on TM1 devices (#53), but it now also occurs on watch devices. Reproducible with the Gallery app.

[2021-06-29 02:59] swift-kim commented on #53
Every issue has been addressed by a separate issue or PR. Closing.

[2021-06-29 02:59] #53 closed

[2021-06-30 06:20] swift-kim commented on #111
This feature may be needed by https://github.com/flutter-tizen/flutter-tizen/issues/143.

Maybe we can implement this when https://github.com/flutter-tizen/engine/pull/133 is merged (to avoid conflicts).

[2021-07-09 04:34] #70 closed

[2021-07-14 03:00] swift-kim commented on #123
There's no good solution for this issue.

See https://github.com/flutter-tizen/engine/pull/129#issuecomment-879546640.

[2021-07-14 03:00] #123 closed

[2021-07-14 07:20] bbrto21 commented on #130
It's been a while since this issue opened, but I've found no clue, Has anyone figured out anything?

[2021-07-15 04:02] bwikbs commented on #89
I'm working on ``Add unit tests for the Tizen embedder and run`` task

[2021-07-15 11:14] WonyoungChoi commented on #89
I would like to suggest two things about the CI environment.

### 1.  Use docker image for build and test environment.

We can get an easily manageable and extensible CI environment by using docker image. I was able to get a docker image with an environment to build the engine code by optimizing https://github.com/flutter-tizen/tizen_tools/pull/3.

- Dockerfile for PoC: https://github.com/Wonyoung

[2021-07-16 01:32] bwikbs commented on #89
I have a question ! this doesn't cost money? Are there any limitations for free?

[2021-07-16 02:25] xiaowei-guan commented on #111
Dart entrypoint for engine(https://github.com/xiaowei-guan/engine/commit/163bb68f6b053f82e072c7eb6eac5d838457ad12)

[2021-07-16 04:52] WonyoungChoi commented on #89
@bwikbs yes, Github Actions is free for public repositories.
for more detailed limitations, you can see in
- GH hosted runner : https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#usage-limits
- Self hosted runner : https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#usage-limits

[2021-07-19 01:36] HakkyuKim commented on #89
@WonyoungChoi
Thanks for the information!
I would like to use Github Actions instead of Azure in https://github.com/flutter-tizen/plugins/pull/150.
I have one question though,

Does this mean we can just attach without notifying the company?
How are you planning to proceed?

[2021-07-21 08:49] swift-kim commented on #111
Implemented by https://github.com/flutter-tizen/engine/pull/149.

[2021-07-21 08:51] swift-kim commented on #111
We need to update the tool side as well in order to be able to use this feature.

[2021-07-26 02:22] #111 closed

[2021-07-26 03:57] WonyoungChoi commented on #89
@HakkyuKim Sorry for late response. I missed your mention.
Yes we can just attach machines without notifying technically. But I think we need some security approvals about using local agents. Let's talk about details in your seat on Thursday with @swift-kim.

[2021-07-26 10:16] HakkyuKim commented on #89
@WonyoungChoi  No problem and sounds good to me!

[2021-08-03 11:27] pkosko opened #165 "Refactor getting values from EncodableMap to use common template"
https://github.com/rwalczyna/engine/blob/app_control/shell/platform/tizen/channels/app_control_channel.cc#L144

It has the same purpose as GetValueFromEncodeableMap in platform_view_channel.cc
I'd like to ask for a little refactoring so that all tizen channels can use this template in common.

https://github.com/flutter-tizen/engine/blob/681e6d0a92425ee1c5bd643f9de1fdb4a1545de0/shell/platform/tize

[2021-08-06 06:15] xiaowei-guan opened #167 "Support to get native window"
when I implement presentation displays plugin, engine should provide interface for getting elm window.
I think other plugins may also need this interface in the future.

Issues(Get ecore_wl2_window from elm window)
- [ ] Rotation .
- [ ] Create egl window fail on RPI.
- [x] Black screen when launch app.

[2021-08-06 07:57] swift-kim commented on #167
Are you looking for something similar to Windows's `FlutterDesktopPluginRegistrarGetView()` and `FlutterDesktopViewGetHWND()`?

[2021-08-06 08:41] bwikbs commented on #167
That seems to be a useful approach. If we use that interface, we need to modify the current platform view interface too.

[2021-08-06 10:08] xiaowei-guan commented on #167
yes,  some plugins need this interface which require native window.

[2021-08-06 10:12] xiaowei-guan commented on #167
# https://github.com/xiaowei-guan/engine/commit/56a200c3ec936a8d79d102cd734043bb2a22e00e
This is initial version, I don't test it. I will test it next week.
I not sure whether has performance issue when we use elm_window to create ecore_window.

[2021-08-11 05:56] xiaowei-guan commented on #167
If get ecore window form elm window, enlightment will crash when exit application.

[2021-08-31 07:57] bbrto21 opened #177 "The ESC key should act like the back button of mobile on IoT profile."
Default apps behave as if the back button was pressed when the esc key is pressed.
~and there is no way to terminate the flutter app after launching it(except shell command) on IoT profile :(~

[2021-08-31 08:03] bbrto21 opened #178 "Unimplemented channels"
Below are the channels implemented in Android but not implemented in Tizen.
These should be reviewed and implemented.

- flutter/accessibility
- flutter/deferredcomponent
- flutter/mousecursor
- flutter/restoration
- flutter/system

[2021-08-31 08:04] swift-kim commented on #177
By the way you can right click on a mouse (if you have) to simulate back key events.

[2021-08-31 09:27] swift-kim commented on #178
As for the flutter/system channel, there's nothing to implement as far as I can see. The channel only defines the `memoryPressure` message type. In our case, it's already implemented through the `FlutterEngineNotifyLowMemoryWarning` embedder API. Apps should be possible to observe memory pressure notifications by registering [WidgetsBindingObservers](https://api.flutter.dev/flutter/widgets/Widgets

[2021-09-01 01:02] #165 closed

[2021-09-01 02:36] swift-kim commented on #89
The migration to GitHub Actions is being worked on: https://github.com/flutter-tizen/engine/pull/176 (will use GitHub-hosted runners for security reasons).

[2021-09-01 03:13] swift-kim commented on #130
The problem is not limited to cupertino widgets. The flickering also occurs for some material widgets in the Gallery app.

[2021-09-01 05:47] swift-kim commented on #178
- The accessibility support status is being tracked in https://github.com/flutter-tizen/flutter-tizen/issues/151 although no progress has been made yet.
- The definition of "deferred components" can be found at https://flutter.dev/docs/perf/deferred-components and https://github.com/flutter/flutter/wiki/Deferred-Components. The feature takes advantage of Android and Google Play Store's dynamic fea

[2021-09-01 06:26] bbrto21 commented on #178
I found [APIs](https://docs.tizen.org/iot/api/4.0/tizen-iot-headed/group__Elm__Cursors.html).

In my conclusion... I think this feature has a low priority.
it seem to be two types of cursors provided by platform(default and transparent) and It seems to provide the ability to load new cursors from an edj file at runtime...but It doesn't seem worth the effort to do this. :(

[2021-10-06 00:32] ynoo-nam opened #190 "TextInputType.numberWithOptions doesn't allow decimal and signed option"
Tested on emulator mobile-6.0-x86

Decimal and minus signs are not added to the field.

[code]

![스크린샷, 2021-10-06 09-10-18](https://user-images.githubusercontent.com/78772911/136121149-9c038213-a229-41f2-8b61-d1e6f6268c3e.png)

[code]

[2021-10-18 23:33] bwikbs opened #192 "Result of coverity scan at engine"
I know `coverty scan` is a good tool, and if you're lucky you can find a place to fix it. (Unfortunately not in most cases. :smile: )

For fun, I ran it based on the current  [latest](https://github.com/bwikbs/engine/commit/d4ae784678cbc858180c9b731b5d7e93ba0e201e) and got the following results.
![image](https://user-images.githubusercontent.com/4053790/137819705-e5cd3432-2032-4a04-a136-3a61523cca

[2021-10-19 03:21] swift-kim commented on #190
I tested this change but it didn't work: https://github.com/swift-kim/engine/commit/8bd102bdf3134d7b1644d44bfcaba5c234e5d2e3

![](https://user-images.githubusercontent.com/40190588/137838051-76d81426-61db-484a-a33c-e40bc89a090f.png)

[code]

The `.,-/` button is still disabled even if `signed` or `decimal` is true. It looks like a bug with the Ecore IMF API.

@bbrto21 Could you take a look if you

[2021-10-19 08:29] swift-kim commented on #190
@bbrto21 I just figured out that certain conditions should meet to reproduce the problem.

1. Add two or more TextField or TextFormField widgets with different `keyboardType`s to your app. Let's say there's one `emailAddress` TextField and one `numberWithOptions` TextField.
2. Run the app and click the `emailAddress` TextField. The keyboard will show up.
3. Click the `numberWithOptions` TextField

[2021-11-15 08:17] HakkyuKim opened #208 "Better support for building system-ui apps"
I'm still surveying about the subject. This issue is to share and discuss what I'm currently looking into.

*System UI* is an application that runs when a device is powered on. It keeps track and provides control to system-wide setting, status, notification, etc. Examples: lockscreen UI, navigation bar, notification app, status bar, volume UI, ...

I'm posting a youtube link, [What's new in System

[2021-11-16 00:45] bwikbs commented on #208
It's a bit of a silly question..but is there any direction you're thinking about right now?
I mean .. topic is so broad that I have no idea what you're trying to do. Or is it just a step you want to set the direction for?

Anyway, I think challenging topic is cool!!

[2021-11-16 03:35] HakkyuKim commented on #208
@bwikbs
Not a silly question at all! I'm still organizing my thoughts and reading code to see if my plans make sense, but I'll share my thoughts with some details. The plans can change in the future.

The motivation started out from the fact that our internal use of flutter-tizen focuses on building system-ui apps rather than user apps. As opposed to full-screen user apps, system-ui requires flexi

[2021-11-16 04:32] bwikbs commented on #208
Thanks for the detailed explanation I wasn't expecting at all! Now I understand!! :+1:

AFAIK, @bbrto21 is very interested in this. (@bbrto21  Am I right? :smile:  )

I think I know what you're talking about :smile: Hopefully this time it will be a meaningful result!!

[2021-11-16 05:04] bbrto21 commented on #208
@bwikbs
That's right, actually @HakkyuKim  and I started thinking about this topic together.
but as you know I haven't made any progress due to other tasks :)

[2021-11-16 06:14] swift-kim commented on #208
Just in case you are interested:

Fuchsia once had a system UI based upon Flutter, called Armadillo, in its early days. Unfortunately, it soon had been [replaced](https://9to5google.com/2018/12/26/fuchsia-armadillo-ui-gone) with another graphical shell written in Rust and its source code had completely been removed from the Topaz (Fuchsia's UI layer) repo. As far as I know Armadillo had just been

[2021-11-16 07:55] HakkyuKim commented on #208
@bbrto21 @bwikbs
I actually found out about component bases application from @bwikbs, we talk more about it once you finish your current task.

@swift-kim
Oh I thought Fuchsia still used Flutter in its UI layer, thanks for the info. I hope the decision wasn't solely due to performance reasons, I'll check it out.

[2021-11-22 04:55] xiaowei-guan commented on #167
I have fixed black screen issue, we need override Show method,:
[code]

[2021-11-24 02:53] swift-kim opened #211 "Embedder without EFL"
I'm currently writing an experimental embedder that purely depends on wayland so that it can work with other compositors (more specifically Weston) than Enlightenment. I'm not sure if the work will go very well. I'll make updates here when some progress is made.

If anybody is familiar with this topic or has ever considered about the approach, please share your thoughts.

[2021-11-24 06:26] bwikbs commented on #211
It's very interesting work!! Just curious... I have a few questions.

1) What motivated you to start this?
2) Where is the problem part at current embedder implementation?
3) Is there any devices that work without EFL in tizen?

[2021-11-24 06:27] HakkyuKim commented on #208
To share some progress, I've created a test host runner based on [component based application](https://docs.tizen.org/application/native/guides/applications/component-based-app/): https://github.com/HakkyuKim/flutter-tizen/tree/component-app-embedding.
It requires this engine build: https://github.com/HakkyuKim/engine.

You can't actually run multiple apps(components) at the moment, it requires mo

[2021-11-24 07:11] swift-kim commented on #211
@bwikbs My ultimate goal is to build a new desktop environment for Tizen purely based on Flutter, getting rid of the entire Enlightenment-based software stack from Tizen. Thus the first step is to remove EFL dependencies from our Flutter embedder itself. Tizen's IVI profile used to have Weston as its compositor a long time ago but I don't know the detailed history.

[2021-11-24 08:43] bwikbs commented on #211
Does this include all ecore-related stuff?

[2021-11-24 08:57] swift-kim commented on #211
@bwikbs Yes, because ecore is part of EFL. Do you think it will be feasible?

[2021-11-24 09:10] bwikbs commented on #211
@swift-kim
I don't know. But I think there will be a lot of things needed not only compositor.. I also hate efl, :smile: But not using it would be quite challenging in tizen.

[2021-11-25 03:44] xuelian-bai commented on #211
Weston is a display server like E20, EFL is the foundation of E20, it implemented lots of functions such ecore, ecore_input, ecore_imf, ecore_wl2, these basic libraries are necessary for applications, so that apps don't need to reinvent wheels
So, weston can only replace part of E20, basic libraries need to be re-implemented
I think we need to list all requirements/apps which are necessary on RB5,

[2021-11-26 06:38] bbrto21 commented on #167
@xiaowei-guan Great!

[2021-11-26 07:34] swift-kim commented on #167
I have a question. In which scenario the elm window will be required? Isn't the ecore_wl2 window sufficient for the purpose?

[2021-11-26 08:58] xiaowei-guan commented on #167
As far as I know:
1.If we want to implement EOM plugin, we need run engine with a elm window(https://docs.tizen.org/development/sample/native/UI/EOM)
2.In the process of developing video plugin with hole, we need set a window to player,  we can set ecore_wl2  window, but we need copy player_internal.h to tizen sdk.
2.tv-viewer plugin.
3.IME plugin.

It would be better if these modules provide inte

[2021-11-26 09:27] swift-kim commented on #167
@xiaowei-guan I don't currently know what EOM is, but for other things you just need a pointer to an **ecore_wl2** window but not necessarily an elm window, right? I'd like to avoid adding the elm window initialization step to our embedder as much as possible before we evaluate its performance impacts precisely. I'm currently even trying to remove the call to `elm_init` inside AppFW's `ui_app_main

[2021-11-26 12:05] xiaowei-guan commented on #167
I also tend to avoid using elm window.  If so, there is no need to add this.

[2021-11-29 00:32] bwikbs commented on #211
Eliminating Efl is not currently our official goal. If we think we need this, the first step will be to discuss whether we really need it.

[2021-11-29 03:24] #167 closed

[2021-11-29 04:20] bbrto21 commented on #167
I want to make one thing clear, so I'm asking.
To support video plugin with hole, do we have to use elm_win or copy the internal header of player to video_plugin source dir(or tizen sdk rootstrap)?

[2021-11-29 05:16] xiaowei-guan commented on #167
when create video player:
if set elm window, need call player_set_display(this api in player.h)
if set ecore window, need call player_set_ecore_wl_display(this api in player_internal.h)
Tizen SDK not includes player_internal.h.

[2021-11-29 05:29] swift-kim commented on #167
In that case, you could use dlopen to use an internal API in your plugin code without having to copy the internal header file.

For instance, the internal API `__dlog_vprint` can be referenced in the following way.

[code]

[2021-11-29 05:46] xiaowei-guan commented on #167
Good solution, I will apply it. Thank you~,

[2021-12-06 05:52] swift-kim commented on #211
There are too many Tizen module that are dependent on Enlightenment and EFL, starting from App FW and many basic Tizen APIs to the system UI itself. It's really impossible to reimplement them all from scratch. So although it's technically possible to implement a Tizen embedder that runs on stock wayland compositors, there's no benefit we can earn from it.

Still I have implemented an embedder that

[2021-12-06 06:07] swift-kim commented on #130
I encountered these error messages when I was testing my [wayland renderer](https://github.com/flutter-tizen/engine/issues/211#issuecomment-986460917):

[code]

I don't know what the error is about but it could be related to this issue because it only happens when the app is rendering cupertino widgets.

[2021-12-06 06:11] swift-kim commented on #177
@bbrto21 Is this feature still needed? Do you have a plan to implement?

[2021-12-10 01:29] bwikbs commented on #211
OMG! Very interesting!!(Ignoring all other difficulties for now) :+1:

[2021-12-10 06:33] swift-kim opened #219 "Flutter 2.8 crashes with SIGSEGV in release mode"
A segmentation fault occurs only in release mode:

[code]

How to reproduce:
1. Fetch https://github.com/flutter-tizen/flutter-tizen/pull/287.
2. Run `TIZEN_ENGINE_AZURE_BUILD_ID=699 flutter-tizen precache --tizen`.
3. Run any Flutter app in release mode on any of your devices (arm or arm64).

Not sure how to debug because the crash occurs in the UI thread (Dart code), but maybe we can try reverti

[2021-12-10 08:52] bbrto21 commented on #219
I tried to build engine using `--asan`, but I got this error :(

[code]

[2021-12-11 03:03] bwikbs commented on #219
@bbrto21
Are you saying the asan build failed? Is it the same for x64?

[2021-12-12 08:23] swift-kim opened #220 "Enable compressed pointers for arm64"
https://medium.com/dartlang/dart-2-15-7e7a598e508a#0c15

The feature is currently only enabled for Android 64-bit by default.

https://github.com/flutter-tizen/engine/blob/a0668c013ea4bfe0fde7eea99d4819c526940ead/tools/gn#L389-L391

We need to check if it can be enabled for Tizen arm64 targets.

[2021-12-12 08:41] swift-kim opened #221 "Synchronous keyboard events"
https://medium.com/flutter/whats-new-in-flutter-2-8-d085b763d181#a407

The keyboard input system is being reworked in the upstream (more processing should be done by the embedder side), so we'll need to make some changes to our embedder sooner or later.

[2021-12-13 00:00] bwikbs commented on #220
In my case it didn't run on arm64 target(rb5) without this.

[2021-12-13 00:02] bwikbs commented on #219
Not sure..., but with [this](https://github.com/flutter-tizen/engine/issues/220) seemed to run on arm64.

[code]

[2021-12-13 01:17] swift-kim commented on #220
"without this" means with compressed pointers enabled? We need more details on why it fails.

[2021-12-13 01:33] bwikbs commented on #220
In conclusion, it's not quite working properly... It's my misunderstanding..

I just get the following message with abort signal at launching phase.
``
[FATAL:flutter/runtime/dart_vm_initializer.cc(22)] Error while initializing the Dart VM: Snapshot not compatible with the current VM configuration: the snapshot requires 'product no-code_comments no-dwarf_stack_traces_mode lazy_async_stacks no-lazy

[2021-12-13 01:38] swift-kim commented on #220
Even if you manage to build successfully, probably you will not be able to test it right now because of https://github.com/flutter-tizen/engine/issues/219.

[2021-12-13 02:05] bwikbs commented on #220
You're right. I'm currently looking for a way.

[2021-12-13 03:46] bbrto21 opened #222 "Blank screen is displayed when launching app on Evas GL"
Originally posted at : https://github.com/flutter-tizen/plugins/pull/266 by @swift-kim

Even  without splash screen, when launching app newly on wearable, a blank screen is displayed once for a while.
If you set `elm_win_alpha_set` as a true, it may seem to be solved, but it is not right to always treat it as transparent(This may affect performance badly).

Related discussions
* https://github.com

[2021-12-13 07:08] swift-kim commented on #219
I think we are using a wrong `gen_snapshot`. It seems Android's `gen_snapshot` artifacts are no longer compatible with Tizen.

[2021-12-13 07:29] bbrto21 commented on #219
Great! How did you figure this out?

[2021-12-13 07:35] swift-kim commented on #219
I knew it because I authored that part of the CI script: https://github.com/flutter-tizen/engine/pull/20/commits/f51d6825979229a9b83757f837e138caa6be7717

[2021-12-13 07:59] bwikbs commented on #219
I have not been understand about ``gen_snapshot`` stuff....
So.. Where should we fix it? 👀

[2021-12-13 08:09] swift-kim commented on #219
@bwikbs I think we need to build and release our own gen_snapshots in the engine CI. I'll ask @WonyoungChoi or @bbrto21 to add Windows and macOS jobs to our GitHub Actions worflow. gen_snapshot can be built without having to build the whole engine on Windows: https://github.com/flutter/flutter/wiki/Compiling-the-engine#compiling-for-windows

[2021-12-13 08:15] bwikbs commented on #219
I am still confused... This is Engine CI problem..
In my case, I build it myself.. Why am I going to be a problem?
Don't you have a problem if you build it by yourself?

[2021-12-13 08:37] swift-kim commented on #219
You build.. what?

As I told in the above we're currently using Android's gen_snapshot artifacts.

https://github.com/flutter-tizen/flutter-tizen/blob/399090f47bd0e1408bb964fabc33768e14ea051e/lib/tizen_cache.dart#L27

This decision was because we couldn't afford Windows and macOS EC2 instances when we were setting up the Azure Pipelines CI earlier in this year. Only gen_snapshots for Linux x64 are

[2021-12-13 08:57] bwikbs commented on #219
Aha, I understanded now!
I thought this was just a matter of related to Engine.
Thank you for a detailed explanation!

[2021-12-13 11:05] bbrto21 commented on #219
@swift-kim Have you tested flutter 2.8 with gen_snapshot generated on windows? (I'm trying it myself... it's taking a long time :sweat_smile:)

[2021-12-13 11:16] bbrto21 opened #224 "Build and release our own gen_snapshots in the engine CI"
_Originally posted by @swift-kim in https://github.com/flutter-tizen/engine/issues/219#issuecomment-992206908_

Target host
* Windows
* MacOS X

[2021-12-14 01:36] swift-kim commented on #224
https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment

The problematic part seems to be this part:

Can these prerequisites be installed from the command line on GitHub-hosted instances?

[2021-12-14 02:07] bbrto21 commented on #224
Visual Studio 2022 was installed on my Windows machine, but the tool said it is not a supported version :(

[2021-12-14 02:15] bwikbs commented on #224
It seems to be difficult to get  instance what is satisfied that requirement.... May be self hosted runner?

[2021-12-14 03:18] swift-kim commented on #220
I tested this feature with the Gallery app on RPi4 (arm64) and it just worked without any further configuration. Note that both gen_snapshot and the engine must be built with the `dart_use_compressed_pointers` flag enabled.

Should we enable this for Tizen arm64 by default or do we need more testing?

[2021-12-14 03:29] swift-kim commented on #219
On Windows, gen_snapshot from `android-arm-release` worked without this issue (I don't know why), but anyway we need to build our own gen_snapshots to make it work for general cases (especially arm64).

I'll close this issue in favor of https://github.com/flutter-tizen/engine/issues/224.

[2021-12-14 03:29] #219 closed

[2021-12-14 03:31] swift-kim commented on #224
Build commands for Windows:

[code]

[2021-12-14 03:48] bwikbs commented on #220
RB5 is also the same result.
I think this is what we need feature at this time.

[2021-12-14 05:17] swift-kim commented on #220
The benefit is not that great according to the measurement. Only 4 MB (3.5%) reduction of the total memory footprint when measured right after app launch (Gallery).
[code]

[2021-12-14 05:41] WonyoungChoi commented on #224
Github hosted runner provides VS environment 🎉  https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#visual-studio-enterprise-2019

[2021-12-14 23:06] bwikbs commented on #220
Worried about performance impact?

[2021-12-14 23:08] bwikbs commented on #224
It's amazing!! github is really generous!

[2021-12-15 01:30] swift-kim commented on #220
No. The feature is new and could cause instability or bugs. I think it would be safe to keep away from it for now. Our new board has enough memory (8 GB) so it's not worth taking risk.

[2021-12-15 01:57] bwikbs commented on #220
I got what you meant.
I have an attitude of applying and seeing if there is no problem, but I am not insisting on applying this. :smile:
(It's only my preference.)

[2021-12-16 09:01] swift-kim commented on #224
The tool side work is done by https://github.com/flutter-tizen/flutter-tizen/pull/296. Now the only work to do is to add `gen_snapshot` executable for each platform in each of our zipped artifacts (`tizen-arm-release.zip` and etc.).

e.g. `tizen-arm-release.zip` should contain:
- `libflutter_*.so`
- `linux-x64/gen_snapshot`
- `windows-x64/gen_snapshot.exe`
- `macos-x64/gen_snapshot`

[2021-12-17 00:59] swift-kim commented on #224
@WonyoungChoi

How this will be done is exactly what I was asking in the above comment. Ideally, `gen_snapshot` should be placed in the corresponding engine artifact directory as follows:

[code]

Are you thinking about zipping `linux-x64/gen_snapshot` separately from `tizen-arm-release.zip`? What name will the zip file be?

[2021-12-17 01:47] WonyoungChoi commented on #224
In the case of `Android`, the artifact name (or path) is `android-arm-release/windows-x64.zip`. maybe we should use the name like `tizen-arm-release-windows-x64.zip` because Github CI does not support the directory path for the artifact.

[2021-12-17 02:59] swift-kim commented on #224
Now the default engine branch is `flutter-2.8.1-tizen`. I'll discard the [2.8.0 pre-release](https://github.com/flutter-tizen/engine/releases/tag/790d2b0) when the 2.8.1 artifacts are ready.

[2021-12-17 03:01] swift-kim commented on #224
@WonyoungChoi What files will be included in this archive?

[2021-12-17 03:40] WonyoungChoi commented on #224
I think only the `gen_snapshot` binary.
[code]

[2021-12-20 01:30] swift-kim commented on #224
If we have both `tizen-arm-release.zip` and `tizen-arm-release-windows-x64.zip` which contain engine binaries and `gen_snapshot` binary respectively, and the two archives are downloaded in sequence, only the `gen_snapshot` binary will exist in the final `tizen-arm-release` directory (see the `ArtifactUpdater._downloadArchive` implementation).

So it should be better to let `tizen-arm-release_windo

[2021-12-20 01:35] swift-kim commented on #224
`TizenEngineArtifacts.getBinaryDirs` will look like this:

[code]

[2021-12-20 02:23] WonyoungChoi commented on #224
@swift-kim I want to avoid building the entire engine source on Windows or MacOS runner as much as possible. Those runner will be used for generating `gen_snapshot` binaries for each host-platform.
How about referring to `AndroidGenSnapshotArtifacts`?
[code]

[2021-12-21 13:30] swift-kim commented on #224
Trying macOS build...
[code]
[code]
[code]
Build succeeded but the reesulting gen_snapshot is not a host executable but an arm executable.
[code]
Still need to investigate why.

[2021-12-22 03:45] WonyoungChoi commented on #224
@swift-kim I tried to build on my Intel Mac, but the `gen_snapshot` is not generated in `out/linux_release_arm/clang_x64` also. 😢

[2021-12-22 10:16] WonyoungChoi commented on #224
MacOS build successful! 😃

[code]

[code]

[code]

[2021-12-22 12:02] swift-kim commented on #224
Do you need to declare an additional parameter in gn? Anyway please consider contributing to https://github.com/flutter/buildroot.

[2021-12-22 21:25] WonyoungChoi commented on #224
The `--macos-build-tizen` parameter can be added to https://github.com/flutter-tizen/engine/blob/flutter-2.8.1-tizen/tools/gn.
And.... the modification of `BUILDCONFIG` is a little tricky, so it would be better to apply it as a patch in out CI build process.

[2021-12-23 06:11] swift-kim opened #228 "Separate debug info files from unstripped binaries"
Currently it's not possible to do source line-level debugging of the engine and embedder binaries (even with `so.unstripped` binaries) because the compiler strips out all debugging information ([`-g0`](https://gcc.gnu.org/onlinedocs/gcc/Debugging-Options.html)) by default:

- https://github.com/flutter/buildroot/blob/4660f4a166979c64ff56f6b856b44ccc1dba5c63/build/config/BUILDCONFIG.gn#L401
- https

[2021-12-23 06:43] swift-kim commented on #228
Level 1 (`g1`) provides no local variable information:

![image](https://user-images.githubusercontent.com/40190588/147199039-081c3f58-32b7-42a9-b67b-2236ca6663a4.png)

Level 2 (`g2`) will be the best fit for general purpose debugging.

[2021-12-23 09:15] swift-kim commented on #228
### Instructions (CLI)

1. Modify `build/config/compiler/BUILD.gn` as follows.
[code]

   Note: Alternatively you can give the `--unoptimized` option to `gn`, but it will result in additional `libdart` dependency of the embedder:
[code]

1. [Build the engine and embedder.](https://github.com/flutter-tizen/flutter-tizen/wiki/Building-the-engine-from-source#compiling-the-engine)

1. Once the build i

[2021-12-23 09:27] swift-kim commented on #228
### Instructions (VS Code)

1. Follow steps 1-5 in the above comment.

1. Run `info share` through the [VS Code debug console](https://code.visualstudio.com/docs/cpp/cpp-debug#_gdb-lldb-and-lldbmi-commands-gdblldb).

[code]

1. Run `add-symbol-file` through the debug console.
[code]

[2021-12-26 09:48] #224 closed

[2022-01-04 01:48] bbrto21 commented on #222
I guess that Flutter view of other platforms provide a method to notify first frame rendered

- Android
   [public void addFirstFrameListener(FirstFrameListener listener)](https://github.com/flutter/engine/blob/02f543f19499169f1cbc1c2cf38a76cb712fc37d/shell/platform/android/io/flutter/view/FlutterView.java#L341)
- iOS
- [(void)setFlutterViewDidRenderCallback:(void (^)(void))callback;](https://gith

[2022-01-04 13:22] xiaowei-guan opened #229 "[Key mapping issue]Exception was thrown by flutter framework when press 'Menu' key on TV device"
══╡ EXCEPTION CAUGHT BY SERVICES LIBRARY ╞══════════════════════════════════════════════════════════
The following assertion was thrown during a platform message callback:
Attempted to send a key down event when no keys are in keysPressed. This state can occur if the key
event being sent doesn't properly set its modifier flags. This was the event:
RawKeyDownEvent#80af0(logicalKey: LogicalKeyboardK

[2022-01-04 13:23] xiaowei-guan commented on #229
'Menu' keycode is 0X85 on TV device.
 {0x00000085, 65511},      // LogicalKeyboardKey.metaLeft

[2022-01-06 09:31] xiaowei-guan commented on #221
Related PR:

- https://github.com/flutter/engine/pull/23466
- https://github.com/flutter/engine/pull/23465
- https://github.com/flutter/engine/pull/23467

[2022-01-06 10:59] swift-kim commented on #229
Do you want to capture the menu button in your app or can you simply ignore it? In the latter case we can just remove the mapping from `key_event_channel.cc`.

[2022-01-06 12:24] xiaowei-guan commented on #229
I think we can ignore this issue for now, because it doesn't affect app development.

[2022-01-06 12:24] #229 closed

[2022-01-08 07:54] swift-kim commented on #228
There's no need to extract debug files from artifacts. See https://github.com/flutter-tizen/flutter-tizen/wiki/Debugging-and-profiling-the-engine for how to load symbol info in GDB.

[2022-01-08 07:54] #228 closed

[2022-01-11 05:22] swift-kim opened #230 "Automatically release CI build artifacts"
I'd like to automate the release process which is currently being manually done.

https://github.com/flutter-tizen/engine/releases

I'll take a look when I get some time but please feel free to work on this if you're interested. cc @WonyoungChoi

[2022-01-17 09:31] swift-kim commented on #229
Related to https://github.com/flutter-tizen/flutter-tizen/issues/319.

[2022-01-24 05:41] JSUYA opened #233 "Return Image handle instead of window (EFL)"
Nice to meet you devs. I'm studying flutter and have a question, so I'm making a sample and writing my opinion here :)

Currently, AddtoApp of flutter-tizen can be implemented by using a window handle. (ecore_wl2, elm_win)

To add the rendered flutter output to the elementary widget, it was not appropriate to use elm_win.
(I tried using other types of windows, but it didn't work as intended. (ELM_

[2022-01-24 21:44] bwikbs commented on #233
@JSUYA
First of all, It's very interesting proposal. Actually, we have a plan to do something similar!
Currently, Its priority is little behind for other urgent issue...
Thank you very much for all the suggestions and sample code. 👍

[2022-01-25 16:13] swift-kim commented on #233
Hi. I'm glad that you finally joined my team and thank you for filing a suggestion! (Maybe this issue is related to https://github.com/flutter-tizen/engine/issues/94.)

According to your approach, should the app always pass its window handle (as a parent window) to the embedder regardless of the app's scenario (add to app or normal)?

If so, we might also be able to reduce the [launching time over

[2022-01-26 06:18] JSUYA commented on #222
HI @bbrto21
I saw this problem and made a sample based on my ideas.
https://github.com/flutter-tizen/plugins/pull/266 This PR was a way to register splash image in dart code.

In the evas_gl scenario, we can put a splash image in advance before setting the gl surface in evas_image.
After that, when the first frame of the flutter is drawn, we can set the gl surface to evas_image.

I made a sample b

[2022-01-26 08:32] JSUYA commented on #233
Thank you :)

I will check it.

In this case, we need the parent's handle, which will contain the evas_image, not the window handle. (Of course, it can be a window)
elementary almost always needs a parent when creating a widget. (elm_XXX_add(parent))

Yes, we don't have to create unnecessary windows. The container to contain the evas image is created in the app code.

[2022-01-26 12:34] swift-kim commented on #233
@JSUYA Thanks for the clarification, but what I meant was: Do you plan to make an app pass an Evas object handle to the embedder even if the app does not use the add to app feature?

[2022-01-27 00:16] seungsoo47 commented on #222
@JSUYA It's an good approach. I have a question for the splash image. If the splash image is always set before the first frame, can application developers change it later? I just wonder if it's possible because they might think that they want to set up a splash image for their company.

[2022-01-27 05:09] swift-kim commented on #222
@seungsoo47 Am I understanding you correctly? A splash screen is configured by an app developer (in `tizen-manifest.xml`) when building their app.

[2022-01-27 05:20] seungsoo47 commented on #222
@JSUYA @swift-kim Oh~ I am sorry. It was my misunderstanding. Please ignore my question.

[2022-01-27 05:31] JSUYA commented on #222
@swift-kim I do not know yet how to get the information of `tizen-manifest.xml` set in application from `flutter-tizen`.
um.. I think, we can add splash image path to FlutterDesktopEngineProperties. (maybe?)
anyway the basic idea of my opinion is to pre-set the image to evas_image before drawn flutter's first frame.

[2022-01-27 06:20] bwikbs commented on #233
@JSUYA Just forget everything I said above..  I glanced at your profile and had no idea who you are. 😢
Welcome! & Look forward to working together soon. 😄

[2022-01-27 07:09] JSUYA commented on #233
If the application does not use add to app feature, we do not need to pass the parent object.
Now embedder's FlutterApp Interface is one. But I think that if we provide the interface for single flutter screen(elm_win or ecore_wl2_window), Flutter-View(elm/evas_object, NUI/View(component)), we will be able to solve this problem(?).

[2022-01-27 07:10] swift-kim commented on #222
@JSUYA Oh, then you're not going to use Tizen's built-in splash screen feature? Hmm. That could be a good option. We might provide an API (such as `FlutterApp.SetSplashImage()`) in our embedding so that users can set splash image paths in their C++/C# code. A fun fact is that Android Flutter apps used to support a similar functionality through the `provideSplashScreen` interface but the Flutter te

[2022-01-28 20:38] oilipheist commented on #211
Would webose's lunabus be helpful for transitioning away from efl at all.

[2022-02-09 04:37] nojinjeong opened #236 "Need to disable the quick panel pull-down gesture"
There is a use case where the app needs to disable quickpanel pull-down gesture to prevent users from exiting the app. I know that https://github.com/flutter-tizen/flutter-tizen/issues/246 is fixed by #197. We need a way to control this behavior.

[2022-02-09 07:08] WonyoungChoi commented on #230
Opps, I missed this issue. If the engine is rebuilt in the release workflow, probably many parts will be duplicated with the build workflow. Therefore, we need to consider re-organizing workflows for using `Reusable workflow`. https://docs.github.com/en/actions/using-workflows/reusing-workflows.

[2022-02-10 02:08] swift-kim commented on #236
We will end up with having four `bool` options in

https://github.com/flutter-tizen/engine/blob/c5ee051cc15204b276ad6cac194a11e23e51ab5f/shell/platform/tizen/tizen_renderer.h#L65-L67

if we implement this feature. Maybe we can organize them in some way to make it look cleaner.

[2022-02-15 05:03] swift-kim opened #239 "Run unit tests within Docker container on GitHub Actions"
Goals:
- [x] Build unit tests for Tizen arm/arm64 architecture. - https://github.com/flutter-tizen/engine/pull/242
- [x] Run unit tests in a Tizen arm/arm64 Docker container on GitHub Actions. ([Here](https://github.com/swift-kim/warehouse/blob/arm-docker/.github/workflows/test.yml)'s the proof of concept.)
  - https://github.com/flutter-tizen/engine/pull/241
  - https://github.com/flutter-tizen/e

[2022-02-15 05:05] swift-kim commented on #89
Closing in favor of https://github.com/flutter-tizen/engine/issues/239 and further new separate issues.

[2022-02-15 05:05] #89 closed

[2022-02-15 05:14] #177 closed

[2022-02-15 05:19] swift-kim commented on #211
We don't have a plan to implement this feature in the near future. Closing.

@oilipheist Thanks. I'll take a look.

[2022-02-15 05:19] #211 closed

[2022-02-25 01:38] bwikbs commented on #239
@swift-kim
It seems like I'm asking too late, but I haven't been able to see this for a while due to personal circumstances.
Q) Why did you remove x64?  As I understand it, there is no use for it, is this correct? Any other reasons?

[2022-02-25 06:35] swift-kim commented on #239
@bwikbs I feel sorry to delete some of the code that you worked on hard.😢 I wanted to ask your opinion before proceeding but I couldn't find you at your seat.

1. Yes, the main reason is that we can now run unit tests without the x64-specific code. Of course the code can be used for other purposes than testing, such as running normal Flutter apps on Linux desktop (EFL), but there has been no speci

[2022-02-25 07:34] bwikbs commented on #239
@swift-kim
First of all, I have no big affection for my work. (Basically I think they are sucks!) You do not have to worry about it at all. 😉
Thank you for your detailed explanation. I think that the parts mentioned are reasonable.
A recent debugging environment has evolved and working on a Tizen device better than before. Still, I think it is fast and easy to use X64 shell for functional POCs. Bu

[2022-02-28 01:02] #230 closed

[2022-03-03 02:17] #239 closed

[2022-03-03 07:53] JSUYA opened #253 "How to load [abi:cxx11] symbol"
I am researching for rendering flutter-tizen in NUI ([Tizen Natural User Interface (C#)](https://docs.tizen.org/application/dotnet/guides/nui/overview/))
For this, I must use DALi(Tizen C++ UIFW) in engine(tizen renderer).
Among the DALi APIs, there is an API that returns `std::string` and when I want to use this API, the link error occurred in engine build.
( ex: const std::string& Dali::Toolkit:

[2022-03-04 03:03] swift-kim commented on #253
I couldn't find a way to make this work without fixing the dependent libraries. I think libdali2 must be recompiled with correct options.

[2022-03-11 07:25] swift-kim commented on #236
It doesn't seem "right" to control this behavior in the Flutter embedder. Is there any way for the system administrator to globally disable the quick panel or the quick panel gesture (e.g. terminate the quick panel app process)?

[2022-03-17 08:06] bbrto21 commented on #253
Both dali and flutter-tizen use `-std=c++17` and use `__GLIBCXX_USE_CXX11_ABI` as the default value. so I couldn't understand this issue clearly.

After looking at it for a while, I think it's because [custom libcxx](https://fuchsia.googlesource.com/third_party/libcxx) is used when building engine.
so, it seems that<string> different from <string> used in Tizen is being referenced at build time.

[2022-03-18 02:22] wanchao-xu opened #261 "No box is displayed for screen reader when reading widget"
I developed the accessibility for flutter-tizen, refer to https://github.com/flutter-tizen/engine/pull/254

There is a box displayed for the widget which is reading.

![m-1215-1-2022-03-18-101409](https://user-images.githubusercontent.com/32251018/158924418-82768ef5-fc5e-434d-aeee-841de6c3dcd5.png)

On android/ios, this box is provied by platform accessibility, the flutter just send the accessibil

[2022-03-18 02:40] bwikbs commented on #261
I guess..
Currently we don't have any parts that use chromium-efl. what does it mean?

[2022-03-18 02:43] wanchao-xu commented on #261
flutter-tizen doesn't use chromium-efl, I mean if modify screen reader to provide box, the efl/chromium-efl should be changed not display box.

[2022-03-18 07:26] bbrto21 commented on #253
I wonder if this is the result of our intention.
@flutter-tizen/maintainers  Does anyone know?

[2022-03-18 08:01] swift-kim commented on #253
@bbrto21 libc++ is statically linked into the engine and embedder to avoid any subtle compatibility issue. For example, the PR https://github.com/flutter-tizen/engine/pull/205 already assumes this fact.

[2022-03-24 02:39] bwikbs commented on #261
I'm sorry...but I can not understand it well.
Can you explain a little more? I can't imagine know how screen leader draws the box...

[2022-03-24 03:14] wanchao-xu commented on #261
Screen reader will read tapped view after accessibility enabled, and a box should be drawn on tapped view at the same time.
The box is drawn by android/ios platform for flutter app, but it's not supported on tizen platform.

If a app is developed by efl on tizen platform, when screen reader is reading the tapped view, this box is drawn by efl view. Screen reader just send a event to efl view, and

[2022-03-24 05:16] bwikbs commented on #261
Thank you for a detailed explanation. :clap:
There's more questions.
How draws other platform of flutter do this?
I mean.. Do you know which API is used for this at android?

[2022-03-24 06:40] wanchao-xu commented on #261
Android use `AccessibilityNodeProvider` to connect flutter accessibility to system accessibility.
Please refer to https://tool.oschina.net/uploads/apidocs/android/reference/android/view/accessibility/AccessibilityNodeProvider.html

[code]

[2022-03-24 07:42] bbrto21 commented on #253
@JSUYA
I modified the custom configuration of the build root a bit, and I succeeded in linking the Dali api.
also, I succeeded in creating the egl surface using `Dali::NativeImageSourceQueue` as you guided and I set the `imageUrl` to imageView on FlutterNUIApplcation I made, but It doesn't seem to work.
Could you explain your idea in more detail? I don't have any experience with Dali.

[2022-03-25 02:49] bbrto21 commented on #253
I want to use TizenFX API Level 9. how should I change the project configuration?
I tried several things, but it seems that API Level 4 is still selected.

[2022-03-25 03:39] swift-kim commented on #253
Do you mean a .NET app?

1. Set the `api-version` attribute of the `ui-application` element in `tizen-manifest.xml` to 9.
2. Change the target framework moniker to `tizen60` in `Runner.csproj`.

[2022-03-25 05:53] bbrto21 commented on #253
I tried following the instructions above, but it didn't work.
@WonyoungChoi Could you possibly help on this?

[2022-03-25 23:35] bwikbs commented on #261
Thanks a lot, I learned a lot about accessibility implementation. 👍
(In my personal opinion) It seems to be a more `tizen-way` to draw it in the engine like efl widget or chromium-efl.
Besides, it is not easy to modify the behavior of efl wiget or chromium-efl too. :smile:

[2022-03-29 01:31] bbrto21 commented on #253
I got the answer from him that the documentation is wrong. the API I was trying to use was not included in the latest release of TizenFX API Level 9..

[2022-03-29 07:32] bbrto21 commented on #253
@JSUYA
[Here](https://github.com/bbrto21/engine/tree/add_dali) is a buildable changes with `dali2` dependency, before using this patch, you must apply `for_dali.patch` in this changes  to the build root. and you must change the FlutterApplication base class from CoreUIApplication to NUIApplication
This change is workaround and some headers had to be added to the existing implementation because `li

[2022-03-29 09:40] bbrto21 commented on #253
related issue https://github.com/flutter-tizen/flutter-tizen/issues/351

[2022-03-29 09:40] bbrto21 commented on #233
related issue https://github.com/flutter-tizen/flutter-tizen/issues/351

[2022-03-29 09:40] #233 closed

[2022-03-29 09:40] #253 closed

[2022-04-04 04:33] #236 closed

[2022-04-04 07:41] swift-kim opened #268 "Better D-pad navigation support for TV"
On TV, a focus cannot move to specific widgets in an app through arrow buttons (D-pad) on remote controls if the app has one or more text field widgets.

For example, in the "share_plus" plugin demo, the "Share subject" text field and the "Share" button can never get a focus because the text field on the top ("Share text") swallows all arrow button clicks. (I cannot upload a screenshot due to the

[2022-04-04 07:52] swift-kim commented on #268
Another issue: A back key event is ignored when a text field has a focus. This issue applies to all profiles (including mobile/wearable).

[2022-04-07 10:08] bbrto21 commented on #268
Have you tested this on emulators(not tv) using the host's hardware keyboard ?
IMO, I think using a wrapper for d'pad should be considered first, like the answer on linked Stack Overflow question.

[2022-04-07 10:18] swift-kim commented on #268
Yes. D-pad keys are 1:1 mapped to arrow keys on hardware keyboard so there should be no difference.

[2022-04-07 10:21] bbrto21 commented on #268
Ok, I got you.

[2022-04-12 09:41] swift-kim opened #270 "Performance profiling in the CI"
It would be great if we can detect performance regressions through CI testing.

I don't have a concrete idea right now. Please take a look and assign yourself if interested.

What to measure:
- App launching time
- Rendering speed (the frame build time is affected by shader compilation time)

Related links:
- https://docs.flutter.dev/cookbook/testing/integration/profiling
- https://github.com/flut

[2022-04-13 04:32] swift-kim opened #271 "Reorganize the build configuration"
- Resolve FIXMEs in https://github.com/flutter-tizen/tizen_tools.
- Instead of using the Tizen toolchain, use the same compiler (same Clang version) used by the upstream, to mitigate the [unsupported compiler flags](https://github.com/flutter-tizen/flutter-tizen/wiki/Building-the-engine-from-source) issue.
- Support sanitizer enabled builds (see https://github.com/flutter/flutter/wiki/Using-Saniti

[2022-04-15 09:13] yman-son opened #273 "[VD]TV의 리모컨 키값 관련 문의"
안녕하세요.

키보드 및 리모컨 에서 발생하는 키값에 대해 아래 URL내에 있는 sample을 통해 발생되는 몇가지 키를 확인해 봤습니다.
  https://api.flutter.dev/flutter/services/LogicalKeyboardKey-class.htm

리모컨의 상하좌우 키는 Arrow Up, Down, Left, Right로 logicalKey, pysicalKey에 매칭이 잘되어 있는 것을 확인했고
X86AudioPlay의 경우 키보드로 매칭되는 값이 없어서 "Media Play"로 신규로 정의 된 것도 확인했습니다.

이외에 채널 업/다운/Mute, Red, Blue,Green과 같은 키는 F1~12사이의 function키로 매칭이 되는 것으로 확인이 되는데요.
이것은 어떤 기준으로 이

[2022-04-15 09:27] yman-son opened #274 "[VD] TV내의 App Focus 안보임 이슈"
안녕하세요.

TV에 Sample App을 올려놓고 테스트를 하다보면,
일부 배경이 흰색을 가진 element에서는 Focus가 잘 눈에 띄지 않아
개선이 가능할지 문의하고자 이슈를 남깁니다.

혹은 앱 개발자가 Focus를 받은 widget에 대해 테두리를 추가하도록
구현 가이드를 해야할 부분인지 답변 주시면 감사하겠습니다.

http://wiki.vd.sec.samsung.net/pages/viewpage.action?pageId=174034907
자세한 그림은 위의 URL을 참고해 주세요.

[2022-04-15 09:54] swift-kim commented on #273
안녕하세요.

이것은 어떤 기준으로 이렇게 매칭이 됐는지 잘 모르겠네요.

이것은 저희가 따로 매핑한 것이 아니라 TV 시스템이 제공하는 코드 값을 그대로 사용합니다. Embedder가 받는 물리 키 코드 자체가 F1-F12에 해당하는 값으로 되어있기 때문에 논리 키 코드 역시 그에 해당하는 값을 가지게 됩니다. TV 에뮬레이터를 켜고 키보드의 F1-F12를 눌러보시면 리모콘과 동일한 동작이 수행되는 것을 확인하실 수 있을 겁니다. 아래 코멘트를 참고해주세요.

https://github.com/flutter-tizen/flutter-tizen/issues/319#issuecomment-1099791766

이 값들이 logicalKey, pysicalKey에서 어떤 값으로 전달 되는지 정리된 자료가 있으시

[2022-04-15 11:42] swift-kim commented on #274
안녕하세요.

앱 코드의 구현상 미숙한 부분으로 보이며 engine/embedder와 무관한 이슈인 것 같습니다. 코드가 없어서 저희가 확인할 방법은 없습니다.

[2022-04-18 01:10] yman-son commented on #274
안녕하세요! 질문에 남겼던 URL에 sample code를 첨부했습니다.
  (https://github.com/VGVentures/slide_puzzle에서 받음. 오래된버전)

여러 테스트 앱을 리모컨을 통한 focus이동시 앱에서의 별도의 처리가 없더라도
focus가된 항목에 대해 약간의 blur처리가 되는 것을 볼 수 있었는데요.

이 부분을 flutter engine에서 처리하는 것으로 생각했고,
이 blur처리를 눈에 명확하게 보이도록 flutter engine에서 변경할지
혹은 앱 개발자가 앱의 UX에 맞게 Focus를 다시 그리도록 유도하는게 맞을지 검토 부탁드립니다.

감사합니다.

[2022-04-18 02:30] nojinjeong commented on #274
안녕하세요.

논의 결과 세부적인 부분은 개발자가 앱의 UX에 맞게 설정하는 것이 맞다고 판단됩니다.

Focus관련해서 https://docs.flutter.dev/development/ui/advanced/focus#focus-widget
참고하셔서 구현하시면 될 것 같습니다.

감사합니다.

[2022-04-18 05:37] yman-son commented on #274
답변 감사드립니다

[2022-04-18 05:37] #274 closed

[2022-04-18 08:49] yman-son commented on #273
답변 감사드립니다.

"향후에는 중간 과정(GTK 매핑)을 제거할 예정" 이 부분 변경시 제게도 좀 알려주세요!

[2022-04-18 08:49] #273 closed

[2022-04-18 08:52] swift-kim commented on #273
@yman-son 네, 혹시 제가 기억 못하면 https://github.com/flutter-tizen/engine/issues/221 이슈를 트래킹하고 계시면 됩니다 (Subscribe 버튼).

[2022-04-21 07:21] bbrto21 opened #277 "Implement rotation on TizenRendererEvasGL"
We should fully implement screen rotation on evas gl

![image](https://github.com/bbrto21/temp.github.io/blob/main/images/rotation_evas_gl.gif?raw=true)

to reproduce this you must use kEvasGL
[code]

[2022-04-21 08:04] bbrto21 commented on #277
see #71

[2022-04-25 05:35] swift-kim opened #280 "ATK assertion failure on TV"
I see a lot of these error messages when running the Gallery app and moving widget focus on TV. Is this related to the recently added screen reader support?

[code]

TV image:
[code]

cc @wanchao-xu

[2022-05-02 07:56] bbrto21 commented on #71
The above facts have recently been revealed.
`GetWindowGeometry` is used the following and related problems occur in all of the following:
1. Create rendering surface.
2. Handle rotation event.
3. Send flutter point event.

[2022-05-02 13:41] swift-kim commented on #271
### Address Sanitizer (`--asan`)

The toolchain is missing compiler-rt support.

[code]

Even if I add the `compiler-rt` target to `-DLLVM_ENABLE_PROJECTS` in [`build-llvm.sh`](https://github.com/flutter-tizen/tizen_tools/blob/master/build-llvm.sh), it still doesn't work (linking fails).

[code]

There's only `libclang_rt.asan_static-x86_64.a` for x64 in the specified directory. I'm not sure how t

[2022-05-12 06:13] swift-kim opened #285 "Migrate to the new GpuBufferTexture API"
https://github.com/flutter/engine/pull/26562#issuecomment-1114156009

The new API was not included in the Flutter 3.0 release but will land in the next stable engine release. We will have to prepare for migration until then.

cc @xiaowei-guan

[2022-05-16 06:00] swift-kim commented on #271
Closing for now. More investigation is needed to support ASan builds.

[2022-05-16 06:00] #271 closed

[2022-05-16 07:01] #220 closed

[2022-06-07 01:36] swift-kim commented on #268
The back key issue will be fixed by https://github.com/flutter-tizen/engine/pull/296.

[2022-06-07 05:16] swift-kim commented on #221
@xiaowei-guan Are you working on this or may I take a look?

[2022-06-07 05:20] xiaowei-guan commented on #221
I am working on webrtc plugin task, If you want, just do it.

[2022-06-22 07:47] bbrto21 opened #301 "Enable Evas GL renderer for all profile"
To provide more options of flutter-tizen's user, I want to open the Evas GL render to all profiles.
I expect that this provides advanced users with the option of selecting a window type for flutter-tizen, or enables using the view of FlutterTizen.

I think the following things are needed.
 - Change from `use_evas_gl_renderer` to `use_evas_gl_renderer_only` in BUILD.gn
    - `use_evas_gl_renderer_o

[2022-06-23 08:01] bbrto21 commented on #301
Alternatively, it would be good to receive the view type as an argument and unify it into one API.
[code]

[2022-06-28 01:28] #221 closed

[2022-06-29 09:02] zhouleonlei opened #305 "Vulkan Texture For Video Player"
There is ExternalTextureSurfaceGL for video player with opengl rendering
  ExternalTextureSurfaceGL(
      ExternalTextureExtensionType gl_extension,
      FlutterDesktopGpuBufferTextureCallback texture_callback,
      void* user_data);

  virtual ~ExternalTextureSurfaceGL();

  bool PopulateTexture(size_t width,
                       size_t height,
                       FlutterOpenGLTexture* op

[2022-06-29 09:04] #305 closed

[2022-07-06 02:34] swift-kim commented on #273
@yman-son #221 관련 패치 반영되었습니다. [https://github.com/flutter-tizen/flutter-tizen/pull/391](https://github.com/flutter-tizen/flutter-tizen/pull/391)이 머지되면 최종 적용될 예정입니다.

[2022-07-07 02:06] JSUYA commented on #301
I have a question. Which window should FlutterApp choose in a situation where it is a profile other than wearable (both evasgl and ecorewl2 windows are supported)?
Do we also leave this up to the user?

[2022-07-07 07:11] swift-kim commented on #268
Focus traversal can be easily customized by using `FocusNode` or `FocusTraversalPolicy`.

The following example uses `FocusTraversalGroup` with `FocusTraversalPolicy` to override `arrowDown` and `arrowUp` events when TextField widgets have a focus.

[code]

You can also simply use `FocusNode` if you want to explicitly move a focus to a specific widget (regardless of the widgets order).

[code]

Fo

[2022-07-07 07:11] #268 closed

[2022-07-11 07:15] bbrto21 commented on #301
I recommend using `ecorewl2` as before.  from a refactoring point of view, I think it would be better to keep the behavior of a FlutterApp&Service while handle this issue.
To achieve this, I think the tool should provide a define to represent a profile when building the app.
@swift-kim Is profile macro already provided while building an app?

[2022-07-11 07:31] swift-kim commented on #301
@bbrto21 Currently you can specify a device profile but not a renderer type.

[code]

[2022-07-12 07:54] bbrto21 opened #313 "Provides API to pass native handle of Tizen view to user"
`TizenViewBase` has three top-level components depending on view types. and only if the view is `TizenViewElementary`, we provide a handle to the user via the Embedder API(`FlutterDesktopViewGetEvasObject`).

|TizenView|top-level component|
|-|-|
|TizenWindowElementary|Evas_Object(elm_win)|
|TizenWindowEcoreWl2 | Ecore_Wl2_Window|
|TizenViewElementary|Evas_Object(elm_table)|

I think `FlutterDeskt

[2022-07-15 08:57] bbrto21 opened #316 "Supports the scenario of setting the engine on the view after the engine is running."
Unfortunately, if you run the engine before you set it on the view, nothing will be shown on the device's screen.

Below is a brief scenario.
1. create and run the engine.
2. create the view.
3. set the engine on the view(or app) when you want.
4. the rendering results are displayed normally on the device screen.

If this is possible, this means the engine can be pre-warmed.
I think this can be us

[2022-07-18 05:33] swift-kim commented on #316
On Android: https://docs.flutter.dev/development/add-to-app/android/add-flutter-screen#step-3-optional-use-a-cached-flutterengine

Be sure to keep in mind that:

This page might also be helpful: https://docs.flutter.dev/development/add-to-app/performance

[2022-07-20 05:31] WonyoungChoi opened #318 "Key events when keep pressing an arrow key"
When keep pressing an arrow key (up, down, left, right) of keyboard, the key event seems to occur only once.

***Repro***
1. In any TextField, type any characters
2. Keep pressing an arrow key to move cursor continuously.
3. But, the cursor moves single step.

***Expected***
The cursor should be moved continuously like typing any other characters.

This isn't limited to TextField, it happens in ge

[2022-07-20 05:55] swift-kim commented on #318
I can't reproduce the problem. We're already taking [repeated key events](https://github.com/flutter-tizen/engine/blob/06ddbce069b64d4e5471665eceb36292bb38cb8f/shell/platform/tizen/channels/key_event_channel.cc#L205) into account.

Which device did you use?

[2022-07-20 06:02] WonyoungChoi commented on #318
RPI4 34bit :(

[2022-07-21 05:37] swift-kim opened #319 "TizenRendererEvasGL::DestroySurface raises SIGSEGV on app exit"
How to reproduce:
1. Launch any app on a watch device or emulator (I used the video_player example).
2. Press the back button to exit the app.
3. The process crashes with SIGSEGV and a crash dump is generated.

[code]

[2022-07-25 00:50] #301 closed

[2022-08-01 02:50] swift-kim commented on #285
The Flutter next version (3.3) will be released soon.

[2022-08-01 02:51] swift-kim commented on #319
Fixed?

[2022-08-01 05:30] xiaowei-guan commented on #285
Ok, I got it.

[2022-08-01 06:29] xiaowei-guan opened #321 "Support pixel buffer texture"
we are implementing webrtc plugin, only pixel buffer texture are supported for now.

[2022-08-01 06:36] xiaowei-guan commented on #321
Pixel buffer code was removed by this PR.#312

[2022-08-01 07:11] swift-kim commented on #321
Oh, it was removed because it had not been used for a long time. I'll add the code back.

[2022-08-02 01:39] #321 closed

[2022-08-02 03:34] #319 closed

[2022-08-02 05:06] swift-kim commented on #316
Here is my attempt: https://github.com/flutter-tizen/engine/compare/flutter-3.0.0-tizen...swift-kim:engine:evas-vsync-waiter

I managed to remove all renderer-related checks from `FlutterTizenEngine::RunEngine`. When I launched an app however, the engine tried to initialize a rendering surface during `FlutterEngineRunInitialized` and failed.

[code]

A surface must be created (even if it has a siz

[2022-08-02 09:52] bbrto21 commented on #316
I think it will help.
I guess a valid renderer must exist before running the engine... therefore, it seems necessary to create a renderer before running the engine using something like a dummy `view`. so, I think it's a good alternative to solve this issue.

[2022-08-10 06:05] bbrto21 commented on #316
I tried to create a dummy view and use it to run the engine, and replace it with a view that would actually be used later.

[2022-08-10 07:24] bbrto21 commented on #222
Recently, a [patch](https://github.com/flutter/engine/pull/35244) that seem useful to solve this on the upstream side have been merged.

[2022-08-12 09:27] swift-kim opened #327 "Remove app lifecycle-related APIs"
The C# platform channel API (`BasicMessageChannel` and `StringCodec`) has now been implemented, so we may consider removing the following APIs from the embedder and reimplement them in the embedding side.

- FlutterDesktopEngineNotifyAppIsInactive
- FlutterDesktopEngineNotifyAppIsResumed
- FlutterDesktopEngineNotifyAppIsPaused
- FlutterDesktopEngineNotifyAppIsDetached

More "channel" (internal plu

[2022-08-16 06:06] #313 closed

[2022-08-29 03:26] swift-kim commented on #327
Maybe we can use Tizen's built-in [JSON-GLib](https://docs.tizen.org/application/native/api/wearable/4.0/group__OPENSRC__JSONGLIB__FRAMEWORK.html) as a replacement of rapidjson for the implementation of `NavigationChannel` and etc.

[2022-08-31 05:54] JSUYA opened #331 "Propagate unhandled Key(Pointer)Events to parent"
Currently TizenView is consuming Key(Pointer)Event.
Key(Pointer)Events that are not handled within FlutterView should be propagated to the View's Parent.
We need to check whether we can raise an event to the parent object(Elm : Evas_object, NUI: View).

related issue : https://github.com/flutter-tizen/engine/issues/221

[2022-09-02 02:58] swift-kim opened #332 "Unable to build unit tests for x86 using LLVM 15"
Target branch: `flutter-3.3.0-tizen`

Toolchain: https://github.com/flutter-tizen/tizen_tools/pull/28

Error message:
[code]

The hidden symbol `FcPatternDestroy` is included in `third_party/fontconfig` which is statically linked with the engine library. I think the "DSO" in the error message refers to `libevas.so` and `libefl-extension.so` (which are referenced by the Tizen embedder).

[code]

Th

[2022-09-05 08:26] bbrto21 commented on #327
What are the benefits of implementing lifecycle channels for both C# and C++?

[2022-09-06 01:36] swift-kim commented on #327
The main purpose is to keep the embedder API set simple (we can remove the four redundant functions). I don't think this activity is very necessary at the moment. I just wanted to share this idea as an issue for those who might have a similar idea.

[2022-09-07 03:33] swift-kim commented on #332
It seems it's only me experiencing this issue. Please let me know if anyone else is facing the issue.

[2022-09-07 03:33] #332 closed

[2022-09-07 03:33] #327 closed

[2022-09-07 03:40] swift-kim commented on #99
This will not be necessary if https://github.com/flutter-tizen/engine/issues/326 is implemented. Let's focus on https://github.com/flutter-tizen/engine/issues/326.

[2022-09-07 03:40] #99 closed

[2022-09-07 10:33] HakkyuKim commented on #318
Some keys (return, arrow keys, numbers, etc) do not constantly generate `ECORE_EVENT_KEY_DOWN` event.
 https://github.com/flutter-tizen/engine/blob/06ddbce069b64d4e5471665eceb36292bb38cb8f/shell/platform/tizen/tizen_window_ecore_wl2.cc#L314-L336

Maybe there's an API that can change which keys should be keep generating `ECORE_EVENT_KEY_DOWN` events?

[2022-09-08 05:16] #285 closed

[2022-09-08 08:54] HakkyuKim commented on #318
To share findings so far, `ecore_wayland` module listens a single keyboard press down event and determines if it should generate repeating `ECORE_EVENT_KEY_DOWN` events. The module determines this internally by calling `xkb_keymap_key_repeats` which returns whether the given key should be repeated or not (https://github.com/xkbcommon/libxkbcommon/blob/57af9cb71f19f37394399b549f7cb7b0d9fe3988/inclu

[2022-09-14 04:57] bbrto21 opened #340 "Improve text input on NUI view"
The current text composition is not properly supported on only NUI view.
Text composition should be properly supported like others.

![image](https://github.com/bbrto21/temp.github.io/blob/main/images/keyboard_on_NUI.gif?raw=true)

[2022-09-14 05:08] bbrto21 commented on #71
After #288, it doesn't appear on logs

[2022-09-14 05:21] bbrto21 commented on #277
I will reopen the issue to actively discuss and resolve this issue.

[2022-09-14 05:38] bbrto21 opened #341 "Provide a way to release focus from the view"
Flutter-tizen now supports views not only single page app.
However, when mixed the view with Native UI components, once the view is focused, the focus cannot be released again via key input.
This is an important issue for profiles where touch screens are not available.

![image](https://github.com/bbrto21/temp.github.io/blob/main/images/focus.gif?raw=true)

[2022-09-14 05:58] bbrto21 commented on #71
It works fine.

[2022-09-14 06:56] swift-kim commented on #341
Do you know how other platforms handle the case? Does the value of `handled` (in `FlutterTizenView::OnKey`) differ when a focus has or has not been moved by Flutter?

[2022-09-14 07:05] swift-kim commented on #71
@bbrto21 Did you test on a real device (TW3 or Active)? I can't test because my watch doesn't have an Internet connection.

[2022-09-14 07:12] bbrto21 commented on #71
I tested on TM1. I think I can help you setting up to connect internet in office please contact me.

[2022-09-14 14:03] swift-kim commented on #71
The Flutter website (flutter.dev) is properly rendered on my GWA1 although it's extremely slow and unresponsive.

[2022-09-15 00:32] bbrto21 opened #346 "Can't move key focus on software keyboard when using FlutterRendererType.EvasGL"
Recently evas gl renderer has been made available for all profiles. however, during testing it was discovered that the key focus could not be moved on the software keyboard.

![image](https://github.com/bbrto21/temp.github.io/blob/main/images/move_keyboard_focus.gif?raw=true)

Related log
[code]

[2022-09-15 01:30] bbrto21 commented on #341
I don't know yet :disappointed:

The value of `handled` is not different both case. :confused:

[2022-09-15 02:26] bbrto21 opened #348 "Non-fatal error message is always shown when running flutter-tizen"
This error message is always shown when running.
[code]

[2022-09-16 11:23] Swanseo0 commented on #341
It seems to have found a reason for this issue.

This is because of `EVAS_EVENT_FLAG_ON_HOLD`.

There is a part that adds `EVAS_EVENT_FLAG_ON_HOLD` to `key_event->event_flags` in the addition of `EVAS_CALLBACK_KEY_DOWN` of `tizen_view_element.cc`.
By adding `EVAS_EVENT_FLAG_ON_HOLD`, Focus moving inside the view could work normally, but the operation of the callback that releases focus of the view

[2022-09-19 02:05] JSUYA commented on #341
I will check

[2022-09-19 02:08] JSUYA commented on #277
@bbrto21 close?

[2022-09-19 02:46] JSUYA commented on #341
EVAS_EVENT_FLAG_ON_HOLD is absolutely necessary for downkey and upkey events for flutterview's key consumption.
We may need to asynchronously dispatch unhandled events in flutterview in conjunction with https://github.com/flutter-tizen/engine/issues/331.

[2022-09-19 05:20] #346 closed

[2022-09-19 05:36] #277 closed

[2022-09-20 04:59] bbrto21 commented on #341
@Swanseo0
I think I can make a simple blur(removes keyboard focus from view) method using this fact.
I'll make a PR.

[2022-09-20 08:26] bbrto21 commented on #341
[Here](https://github.com/bbrto21/engine/commit/77dd4dbdf03ee96c2a3577661dd0f21a4e324fc8) is my attempt.
We can make that remove keyboard focus from view, instead of exiting the app or doing nothing, when there is no place to go back in the navigation stack.

![image](https://github.com/bbrto21/temp.github.io/blob/main/images/blur.gif?raw=true)

[2022-09-21 05:49] Swanseo0 commented on #341
If we need to enter a back key to get out of `view`, how about adding the process of entering `view`?
When there are multiple `views`, considering the scenarios that select, enter, perform, and get out, I think it will be easier for the user to have a process of entering `view`.

What do you think about this? @bbrto21

[2022-09-21 05:59] JSUYA commented on #341
@Swanseo0 @bbrto21 @swift-kim
I think that's a good.
It would be better for the user for focus move if the hightlight box displayed with the flutterview before entering. I think this can be supported by embedding.
[select (focus with hightlight box) - enter - get out(focus with hightlight box)]

[2022-09-21 07:01] JSUYA commented on #331
If Flutter's OnKeyEvent()(OnKey()) returns KeyEventResult.ignored, embedder can check it using handle value.
There are some problems, but I have created a commit that implements this experimentally.
https://github.com/flutter-tizen/engine/commit/29e23f110313e5255387b494419d15d49f595d81

This may be appropriate for `asynchronous keyboard events` for ignored events.
However, we can't use this commit

[2022-09-21 07:12] bbrto21 commented on #341
@Swanseo0
That's a good point of view. If you don't mind, why don't you suggest a new issue?

[2022-09-21 08:03] swift-kim opened #353 "Enable the Vulkan backend"
https://github.com/flutter-tizen/engine/pull/342

@xuelian-bai @zhouleonlei May I ask what the purpose of adding Vulkan support is for? If it's for reducing CPU/GPU usage and improving performance, how would you compare with OpenGL?

[2022-09-22 02:58] #341 closed

[2022-10-12 08:04] JSUYA commented on #340
Fixed https://github.com/flutter-tizen/engine/pull/349
Fixed https://github.com/flutter-tizen/flutter-tizen/pull/448

[2022-10-12 08:06] #340 closed

[2022-10-27 09:36] swift-kim commented on #100
The repository is finally ready. 🎉

https://github.com/flutter-tizen/embedder

The source code uses the same build system (GN) as before but everything is now pretty much simplified. For example, you don't have to build LLVM by yourself, but can use your favorite version of LLVM/Clang even including Tizen Studio's built-in LLVM 10. ([tizen_tools](https://github.com/flutter-tizen/tizen_tools) is no

[2022-11-04 06:01] swift-kim commented on #100
@flutter-tizen/maintainers The PR https://github.com/flutter-tizen/flutter-tizen/pull/458 is ready for review.

The default branch of https://github.com/flutter-tizen/engine is now flutter-3.3.7. The repo doesn't contain Tizen embedder code any more and the code has just moved to https://github.com/flutter-tizen/embedder.

Please refer to https://github.com/flutter-tizen/embedder for how to build

[2022-11-07 07:59] swift-kim commented on #100
I updated all the wiki pages and now [tizen_tools](https://github.com/flutter-tizen/tizen_tools) is not used anywhere. I will convert it to a private repo soon.

[2022-11-14 02:07] #100 closed

[2022-11-23 06:05] #208 closed

[2022-11-23 06:07] #316 closed